@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
    font-weight: 400;
}

:root {
    /* ------ MAIN COLORS ------ */
    --color-primary: #DC2626;
    --color-secondary: #EDEDED;
    --color-background: #FFFFFF;
    /* ------ TEXT COLORS ------ */
    --color-text-primary: #222222;
    --color-text-secondary: #5b5b5b;
    /* ------ BUTTON COLORS ------ */
    --color-button-primary: #EF4444;
    --color-button-hover: #DC2626;
    --color-button-active: #B91C1C;
    /* ------ OTHERS COLORS ------ */
    --color-border: #DFDFDF;
    --color-flash-error-bg: #EEC8C5;
    --color-flash-error-text: #CA0000;
    --color-flash-success-bg: #C6ECC6;
    --color-flash-success-text: #37A437;
}


body {
    overflow: hidden;
}



/* -------------------------- PANTALLA DE CARGA -------------------------- */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté encima de todo */
}
/* Spinner */
.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid;
    border-color: #ededed;
    border-right-color: #dc2626;
    animation: spin .75s infinite linear;
}
/* Texto de carga */
#loading-screen p {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}



/* -------------------------- LOGIN -------------------------- */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 600px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0) 80%), 
                      url('/static/images/login-image.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 30% 75%;
}
.image:hover {
    filter: none;
}


.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 500px;
    border-right: 1px solid var(--color-border);
}

form .logo-image {
    margin-bottom: 3rem;
}
form .logo-image img {
    width: 120px;
    height: auto;
    margin: 0 auto;
    display: block;
}

form .title {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 60%;
    margin-bottom: 1rem;
}
.title h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-text-primary);
    margin-bottom: 1rem;
    line-height: 10%;
}
.title p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-secondary);
    margin-bottom: 1rem;
}
.title p span {
    font-weight: 600;
}

.flash-messages {
    list-style-type: none;
    padding: 0;
    width: 60%;
}
.flash-messages li {
    font-size: 0.8rem;
    text-align: left;
}
.flash-messages li i {
    margin-right: 0.3rem;
    font-size: 1.1rem;
}

.flash {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
}
.flash.error {
    background-color: var(--color-flash-error-bg);
    color: var(--color-flash-error-text);
}
.flash.success {
    background-color: var(--color-flash-success-bg);
    color: var(--color-flash-success-text);
}

.input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 1rem;
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 5px;
}

.input-box input {
    width: 100%;
    padding: 0.8rem 1rem;
    border: none;
    outline: none;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
}
.input-box i {
    font-size: 1.3rem;
    color: var(--color-text-secondary);
    margin: 0 1rem;
}

.forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-bottom: 1rem;
}
.forgot-password a {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--color-text-secondary);
    text-decoration: none;
}
.forgot-password a:hover {
    color: var(--color-text-primary);
    text-decoration: underline;
}

form button {
    width: 60%;
    padding: 0.8rem 1rem;
    background-color: var(--color-button-primary);
    color: var(--color-secondary);
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}
button:hover {
    background-color: var(--color-button-hover);
}
button:active {
    background-color: var(--color-button-active);
}

form .register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 1rem;
}
.register p {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--color-text-secondary);
}
.register p a {
    font-weight: 600;
    color: var(--color-text-primary);
    text-decoration: none;
}
.register p a:hover {
    text-decoration: underline;
}



/* -------------------------- SIGNUP -------------------------- */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.signup-container .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 600px;
    background: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0) 80%), 
                url('/static/images/signup-image.webp');
    background-size: cover;
    background-position: 90% 75%;
    background-repeat: no-repeat;
    border-right: 1px solid var(--color-border);
}
.image:hover {
    filter: none;
}

.signup-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 500px;
    border-left: 1px solid var(--color-border);
}

form .logo-image {
    margin-bottom: 3rem;
}
.signup-form form .logo-image img {
    width: 100px;
    height: auto;
    margin: 0 auto;
    display: block;
}

form .title {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 60%;
    margin-bottom: 1rem;
}
.title h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-text-primary);
    margin-bottom: 1rem;
    line-height: 10%;
}
.title p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-secondary);
    margin-bottom: 1rem;
}
.title p span {
    font-weight: 600;
}

.input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 1rem;
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 5px;
}
.input-box input {
    width: 100%;
    padding: 0.8rem 1rem;
    border: none;
    outline: none;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
}

.input-box #rol {
    width: 100%;
    padding: 0.8rem 1rem;
    border: none;
    outline: none;
    background-color: var(--color-background);
    color: #757575;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    accent-color: red;
}
.input-box #rol:hover,
.input-box #rol:focus {
    background-color: var(--color-background-hover);
    color: var(--color-text-secondary);
}

.input-box i {
    font-size: 1.3rem;
    color: var(--color-text-secondary);
    margin: 0 1rem;
}

form button {
    width: 60%;
    padding: 0.8rem 1rem;
    background-color: var(--color-button-primary);
    color: var(--color-secondary);
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}
button:hover {
    background-color: var(--color-button-hover);
}
button:active {
    background-color: var(--color-button-active);
}

form .login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 1rem;
}
.login p {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--color-text-secondary);
}
.login p a {
    font-weight: 600;
    color: var(--color-text-primary);
    text-decoration: none;
}
.login p a:hover {
    text-decoration: underline;
}



/* RESPONSIVE */
@media screen and (max-width: 768px) {
    body {
        overflow: hidden;
    }

    .login-container .image,
    .signup-container .image {
        display: none;
    }

    form .logo-image {
        margin-bottom: 5rem;
    }

    .login-form,
    .signup-form {
        width: 100%;
    }

    .login-form form,
    .signup-form form {
        width: 100%;
    }

    .input-box {
        margin-bottom: 1.5rem;
    }

    .signup-form form .logo-image img {
        width: 120px;
    }
}

@media screen and (max-width: 480px) {
    body {
        overflow: hidden;
    }

    form .logo-image {
        margin-bottom: 5rem;
    }

    form .title {
        width: 80%;
    }

    .flash-messages {
        list-style-type: none;
        padding: 0;
        width: 80%;
    }

    .input-box {
        width: 80%;
    }

    .input-box {
        margin-bottom: 1.5rem;
    }

    .forgot-password {
        width: 80%;
    }


    
    form button {
        width: 80%;
    }

    .register,
    .login {
        width: 80%;
    }

    .signup-form form .logo-image img {
        width: 120px;
    }
}