@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
    font-weight: 400;
}

:root {
    /* ------ MAIN COLORS ------ */
    --color-primary: #DC2626;
    --color-secondary: #EDEDED;
    --color-background: #FFFFFF;
    /* ------ TEXT COLORS ------ */
    --color-text-primary: #222222;
    --color-text-secondary: #5B5B5B;
    /* ------ BUTTON COLORS ------ */
    --color-button-primary: #EF4444;
    --color-button-hover: #DC2626;
    --color-button-active: #B91C1C;
    /* ------ OTHERS COLORS ------ */
    --color-border: #DFDFDF;
    --color-flash-error-bg: #EEC8C5;
    --color-flash-error-text: #CA0000;
    --color-flash-success-bg: #C6ECC6;
    --color-flash-success-text: #37A437;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
}



/* MAIN */
main {
    font-size: 24px;
    height: 100vh;
    color: var(--color-text-primary);
    padding: 0 200px;
    z-index: -1;
}


/* FORMULARIO HEADER */
header {
    display: flex;
    border-bottom: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
}

header .title h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-text-primary);
}
header .title p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-secondary);
    margin-bottom: 1rem;
    line-height: 50%;
}

header img {
    max-width: 7%;
    height: auto;
}

/* FORMULARIO */
form {
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    padding: 1rem;
    height: fit-content;
}

form h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

form .form-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.form-container .input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-box label, #biografia {
    font-size: 1rem;
}
.input-box label span {
    color: var(--color-primary);
}

.input-box input,
.input-box select,
.input-box textarea   {
    border: 1px solid var(--color-border);
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px 10px;
    margin-bottom: 1rem;
}
.input-box select {
    cursor: pointer;
}

.estres {
    width: 100% !important;
}

textarea   {
    border: 1px solid var(--color-border);
    outline: none;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px 10px;
    margin-bottom: 1rem;
    resize: none;
    height: 100px;
}

.button-input {
    align-items: flex-end;
}

.input-box button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 0.8rem 1rem;
    border: none;
    outline: none;
    background-color: var(--color-button-primary);
    color: var(--color-background);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 1rem;
}
.input-box button i {
    margin-right: .25rem;
    font-size: 1.3rem;
}
.input-box button:hover {
    background-color: var(--color-button-hover);
}
.input-box button:active {
    background-color: var(--color-button-active);
}










/* RESPONSIVE */
/* Dispositivos con un ancho máximo de 1160px */
@media screen and (max-width: 1160px) {
    main {
        padding: 0 100px;
    }

    header .title h1 {
        font-size: 1.8rem;
    }

    header .title p {
        font-size: 0.9rem;
    }

    form .form-container {
        gap: 0.8rem;
    }
}

/* Dispositivos con un ancho máximo de 950px */
@media screen and (max-width: 950px) {
    main {
        padding: 0 50px;
    }

    header .title h1 {
        font-size: 1.6rem;
    }

    header .title p {
        line-height: 110%;
    }

    form .form-container {
        flex-direction: column;
        gap: .5rem;
    }

    .input-box button {
        margin-bottom: 1rem;
    }
}

/* Dispositivos con un ancho máximo de 768px */
@media screen and (max-width: 768px) {
    main {
        padding: 0px 20px;
    }

    header {
        border-bottom: 1px solid var(--color-border);
        border-left: none;
        border-right: none;
        padding: 0;
    }
    
    header img {
        display: none;
    }

    form {
        padding: 0.5rem;
        border: none;
    }

    .input-box input, 
    .input-box select, 
    #biografia, 
    .input-box textarea {
        font-size: 0.9rem;
    }

    .button-input {
        align-items: center;
    }
    .input-box button {
        width: 100%;
    }

}

/* Dispositivos con un ancho máximo de 480px */
@media screen and (max-width: 480px) {
    header .title {
        border: none;
    }
    
    header img {
        max-width: 20%;
    }

    .input-box label {
        font-size: 0.9rem;
    }

    .input-box input, 
    .input-box select, 
    #biografia, 
    .input-box textarea {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    button {
        font-size: 0.9rem;
    }
}
