.edit-training-title {
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-text-primary);
}

.edit-training-container p {
    font-size: 1rem;
    color: var(--color-text-secondary);
    margin-bottom: 1rem;
}

.edit-training-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.edit-week-navigator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(325deg, rgba(239,68,68,1) 0%, rgba(220,38,38,1) 100%);
    padding: 15px;
    border-radius: 10px;
}

.edit-week-navigator h2 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-background);
}

.edit-week-navigator button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-background);
    transition: all 0.3s ease;
}

.edit-week-navigator button:hover:not(:disabled) {
    transform: scale(1.2);
    color: var(--color-text-secondary);
}

.edit-week-navigator button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    transform: none;
}
.edit-week-navigator .previous-week,
.edit-week-navigator .next-week {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background: none;
    border: none;
    font-size: 1.7rem;
    cursor: pointer;
    transition: all .1s ease-in-out;
    color: var(--color-background) !important;
}
.edit-week-navigator .previous-week:hover,
.edit-week-navigator .next-week:hover {
    transform: scale(1.01);
    color: var(--color-background);
}
.edit-week-navigator .previous-week:active,
.edit-week-navigator .next-week:active {
    transform: scale(1);
}

.select2-container--default .select2-selection--single {
    border: 1px solid var(--color-border) !important;
    border-radius: 5px !important;
    height: 40px !important;
    transition: .2s linear !important;
}

/* Borde rojo al pasar el mouse */
.select2-container--default .select2-selection--single:hover {
    border-color: var(--color-primary) !important;
}




/* Contenedores de semana */
.week-container {
    border: 1px solid var(--color-border);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.week-header {
    padding: 15px;
    background: linear-gradient(325deg, rgba(239,68,68,1) 0%, rgba(220,38,38,1) 100%);
    border-bottom: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.week-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-background);
    margin: 0;
}

.day-name-input {
    width: 100%;
}

/* Contenedores de ejercicios */
.exercises-container {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.add-exercise-container {
    padding: 15px;
}

.section-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-text-primary);
    margin: 0 0 15px 0;
}

.new-excercise {
    display: flex;
    align-items: center;
    gap: .3rem;
}

/* Items de ejercicio */
.exercise-item {
    margin-bottom: 1rem;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 1rem;
}

.exercise-fields {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin-bottom: 10px;
}

.exercise-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.exercise-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

/* Inputs y controles */
.input-label {
    font-size: 1rem;
    color: var(--color-text-primary);
}

.text-input,
.number-input,
.select-input {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    width: 100%;
    height: 40px;
    color: var(--color-text-primary);
    outline: none;
    transition: all 0.2s ease-in-out;
}

.select-input {
    cursor: pointer;
}

.text-input:focus,
.number-input:focus,
.select-input:focus {
    outline: none;
    border-color: var(--color-primary);
}

.exercise-select-container,
.excercise-add-select-container {
    margin-bottom: 1rem;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.checkbox-note {
    font-size: 12px;
    color: #777;
}

/* Botones */
.form-actions {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.primary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-button-primary);
    color: var(--color-background);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
    height: 40px;
    outline: none;
    margin-left: auto;
}
.primary-button {
    background-color: var(--color-button-primary);
    border: none;
}
.primary-button:hover {
    background-color: var(--color-button-hover);
}
.primary-button:active {
    background-color: var(--color-button-active);
}


/* Responsive */
@media (max-width: 768px) {
    .edit-training-title {
        font-size: 1.8rem;
    }

    .edit-training-container p {
        font-size: .9rem;
    }

    .exercise-fields {
        grid-template-columns: 1fr;
    }
    
    .form-actions {
        flex-direction: column;
    }
    
    .primary-button{
        width: 100%;
        margin-bottom: 1rem;
    }

    .checkbox-note {
        display: none;
    }
}