.opciones-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: auto;
    border: 1px solid var(--color-border);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 1rem 0;
}

.opciones-container .opciones-menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}
.opciones-menu li {
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 1px solid var(--color-border);
    width: 100%;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    transition: all .2s linear;
}
.opciones-menu li:first-child {
    border-top-left-radius: 10px;
    border-right: 1px solid var(--color-border);
}
.opciones-menu li:nth-child(2) {
    border-right: 1px solid var(--color-border);
}
.opciones-menu li:nth-child(3) {
    border-right: 1px solid var(--color-border);
}
.opciones-menu li:last-child {
    border-top-right-radius: 10px;
}
.opciones-menu li:hover {
    background-color: var(--color-secondary);
    color: var(--color-text-hover);
}
.opciones-menu .li-active {
    background-color: var(--color-primary);
    color: var(--color-background);
}
.opciones-menu .li-active:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
}

.opciones-container .about,
.opciones-container .terms-conditions,
.opciones-container .privacy-policy,
.opciones-container .support {
    padding: 1rem;
}

.about .about-title {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.about-title a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    outline: none;
    border: none;
    background: var(--color-button-primary);
    color: var(--color-background);
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition:  0.1s;
    padding: 5px 10px;
}
.about-title a:hover {
    background: var(--color-button-hover);
}
.about-title a:active {
    background: var(--color-button-active);
}

.about h1,
.terms-conditions h1,
.privacy-policy h1,
.support h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-text-primary);
    margin-bottom: 1rem;
}

.about p,
.terms-conditions p,
.privacy-policy p,
.support p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* About */
.about-subtitle {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* Sub-secciones (h3) */
.about-subsection {
  font-size: 1.15rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Párrafos */
.about-paragraph {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* Términos y Condiciones */
.terms-conditions {
  line-height: 1.6;
  color: var(--color-text-primary);
}

.terms-conditions .version-info {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: var(--color-text-secondary);
    margin-bottom: 1rem;
}

.terms-conditions h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.terms-conditions h3 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.terms-conditions p {
  font-size: 1rem;
  margin: 0.25rem 0 1rem;
}

.terms-conditions ul {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.terms-conditions h2::before {
  content: "";
  display: block;
  border-top: 1px solid var(--color-border);
  margin: 2rem 0 1rem;
}

/* Políticas de Privacidad */
.privacy-policy {
  line-height: 1.6;
  color: var(--color-text-primary);
}

.privacy-policy p strong {
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 0.25rem;
}

.privacy-policy p {
  font-size: 1rem;
  margin: 0.5rem 0 1rem;
}

.privacy-policy p strong::before {
  content: "";
  display: block;
  border-top: 1px solid var(--color-border);
  margin: 2rem 0 1rem;
}


.about ul {
    list-style: none;
}

.support form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-top: 1rem;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 1rem;
}

.support form input,
.support form textarea {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    width: 100%;
    height: 40px;
    color: var(--color-text-primary);
    outline: none;
    transition: all 0.2s ease-in-out;
    margin-bottom: 1rem;
}
.support form input:focus,
.support form textarea:focus {
    border: 1px solid var(--color-primary);
}

.support form label span {
    color: var(--color-primary);
} 

.support form textarea {
    height: 100px;
    resize: none;
}

.support form button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background: var(--color-button-primary);
    color: var(--color-background);
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition:  0.1s;
}
.support form button:hover {
    background: var(--color-button-hover);
}
.support form button:active {
    background: var(--color-button-active);
}

.faq-container {
    background: var(--color-background);
    border-radius: 5px;
}

details {
    margin-bottom: 15px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    transition: all 0.3s ease;
}

details[open] {
    background-color: var(--color-background);
}



.answer {
    background-color: var(--color-background);
    border-radius: 0 0 5px 5px;
}

.category {
    margin-top: 30px;
    color: var(--color-text-primary);
    font-size: 1.1rem;
    padding-bottom: .9rem;
    font-weight: 600;
}

.contact {
    text-align: center;
    margin-top: 40px;
    font-style: italic;
    color: red;
}






@media screen and (max-width: 768px) {
    .opciones-container {
        margin-top: 5rem;
    }
    .opciones-container .opciones-menu {
        flex-direction: column;
        width: 100%;
        list-style: none;
    }
    .opciones-menu li {
        font-size: 1rem;
        font-weight: 500;
        border-bottom: 1px solid var(--color-border);
        width: 100%;
        text-align: center;
        padding: 1rem;
        cursor: pointer;
        transition: all .2s linear;
    }
    .opciones-menu li:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-right: none;
    }
    .opciones-menu li:nth-child(2) {
        border-right: none;
    }
    .opciones-menu li:nth-child(3) {
        border-right: none;
    }
    .opciones-menu li:last-child {
        border-radius: none;
    }

    .about h1,
    .terms-conditions h1,
    .privacy-policy h1,
    .support h1 {
        font-size: 1.3rem;
    }

    .about-title {
        flex-direction: column;
        align-items: start;
        margin-bottom: 1rem;
    }
    .about-title a {
        font-size: 1rem;
    }

    .support form {
        width: 100%;
        padding: 0;
        border: none;
    }
}