@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
    font-weight: 400;
}

:root {
    /* ------ MAIN COLORS ------ */
    --color-primary: #DC2626;
    --color-secondary: #EDEDED;
    --color-background: #FFFFFF;
    /* ------ TEXT COLORS ------ */
    --color-text-primary: #222222;
    --color-text-secondary: #5B5B5B;
    /* ------ BUTTON COLORS ------ */
    --color-button-primary: #EF4444;
    --color-button-hover: #DC2626;
    --color-button-active: #B91C1C;
    /* ------ OTHERS COLORS ------ */
    --color-border: #DFDFDF;
    --color-flash-error-bg: #EEC8C5;
    --color-flash-error-text: #CA0000;
    --color-flash-success-bg: #C6ECC6;
    --color-flash-success-text: #37A437;
}

.title h1 {
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-text-primary);
}
.title p {
    font-size: 1rem;
    color: var(--color-text-secondary);
}


/* Seleccionar plan deentrenamiento */
.select-training select {
    outline: none;
    padding: 0.5rem;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    font-size: 1rem;
    resize: none;
    background-color: var(--color-background);
    cursor: pointer;
    margin: 1rem 0;
    width: 300px;
}

/* Progreso General */
.progreso-general {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.progreso-general .card {
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    padding: 1rem;
}

.card .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.card-title h2 {
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-text-primary);
}
.card-title i {
    font-size: 1.2rem;
    color: var(--color-primary);
}

.card .card-data {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
.card-data h3 {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-text-primary);
}
.card-data p {
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--color-text-secondary);
}
.card-data .bar {
    width: 100%;
    height: 10px;
    background-color: var(--color-secondary);
    border-radius: 3px;
    margin: 0.5rem 0;
}
.bar-progress {
    background-color: var(--color-primary);
}
.day-progress {
    background-color: var(--color-primary);
}



/* Gráfico de Rendimiento */
.rendimiento-container {
    padding: 1rem;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    margin: 1rem 0;
    position: relative;
}
.rendimiento-container h2 {
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--color-text-primary);
}

.rendimiento-container #lineChart {
    margin-top: 1rem;
}

.rendimiento-container #fuerzaMovChart {
    width: 75% !important;
    height: auto !important;
}

/* Marcadores */
.marcadores-container {
    padding: 1rem;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    margin: 1rem 0;
}
.marcadores-container h2 {
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--color-text-primary);
}

.marcadores-container .marcadores {
    margin: 1rem 0;
}

.marcadores .marcador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 1rem;
}
.marcador strong {
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-text-primary);
    margin-bottom: .75rem;
}
.marcador span {
    font-weight: 500;
    color: var(--color-text-secondary);
    border-radius: 50px;
    padding: 0 10px;
    margin-bottom: .75rem;
}


/* Progreso Semanal */
.progreso-semanal-container {
    padding: 1rem;
    border: 1px solid var(--color-border);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 1rem 0;
}
.progreso-semanal-container h2 {
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--color-text-primary);
}

.progreso-semanal-container .semana {
    margin: 1rem 0;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: .75rem;
}
.semana .semana-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}
.semana-title strong {
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-text-primary);
    font-size: 1.1rem;
}
.semana-title p {
    color: var(--color-text-secondary);
    font-size: .9rem;
}

.semana .datos {
    display: flex;
    gap: 2rem;
}
.datos .dias p, 
.ejercicios p {
    color: var(--color-text-secondary);
    font-size: .9rem;
}
.datos .dias span, 
.ejercicios span {
    font-weight: 500;
    color: var(--color-text-secondary);
    font-size: .9rem;
    margin-left: .5rem;
}



/* Media Querys */
@media screen and (max-width: 1160px) {
}

@media screen and (max-width: 950px) {
}

@media screen and (max-width: 768px) {
    .select-training select {
        width: 100%;
    }

    .progreso-general {
        flex-direction: column;
    }

    .rendimiento-container #fuerzaMovChart {
        width: 100% !important;
    }

    .semana .datos {
        flex-direction: column;
        gap: 0;
    }


}