.progreso-alumno-container {
    display: flex;
    margin: 1rem 0;
    gap: 1rem;
    align-items: stretch; /* Este es el truco */
}

.alumno-container,
.progreso-container {
    height: auto !important;
}

/* Datos del Alumno */
.alumno-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid var(--color-border);
    width: 40%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 1rem;
    height: 100%;
}

.alumno-container .datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.datos img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--color-border);
}

.datos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .75rem;
}
.datos h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-text-primary);
    text-transform: uppercase;
}
.datos p {
    font-size: 1rem;
    color: var(--color-text-secondary);
    line-height: 1;
}

.progreso-plan {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 1rem 0;
    border-top: 1px solid var(--color-border);
    padding-top: .75rem;
}
.progreso-plan strong {
    font-weight: 500;
    font-size: .9rem;
    color: var(--color-text-primary);
}
.progreso-plan span {
    font-size: .9rem;
    color: var(--color-text-secondary);
    margin-top: .5rem;
}
.bar {
    width: 100%;
    height: 10px;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-border);
    border-radius: 3px;
    margin: 0.5rem 0;
    position: relative;
    overflow: hidden;
}

.bar-progress {
    height: 100%;
    border-radius: 3px;
    transition: width 0.5s ease, background-color 0.3s ease;
    position: relative;
}


.info {
    padding: .75rem 0;
    border-top: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.info .edad,
.info .peso,
.info .altura,
.info .inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edad h3,
.peso h3,
.altura h3,
.inicio h3 {
    font-size: .9rem;
    color: var(--color-text-secondary);
}
.edad span,
.peso span,
.altura span,
.inicio span {
    font-size: .9rem;
    color: var(--color-text-primary);
}

.ficha {
    border-top: 1px solid var(--color-border);
    padding: .75rem 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.ficha button {
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background: var(--color-button-primary);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: 1rem;
    color: var(--color-background);
    margin-top: 1rem;
    outline: none;
}
.ficha button:hover {
    background: var(--color-button-hover);
}
.ficha button:active {
    background: var(--color-button-active);
}

.ficha .btn-ver-observaciones {
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background: var(--color-button-primary);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: 1rem;
    color: var(--color-background);
    margin-top: 1rem;
    outline: none;
    text-align: center;
}
.ficha .btn-ver-observaciones:hover {
    background: var(--color-button-hover);
}
.ficha .btn-ver-observaciones:active {
    background: var(--color-button-active);
}



/* Modal Cuestionario/Ficha */
.cuestionario-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
    visibility: hidden;
    overflow: hidden;
    border-radius: 10px;
    padding: 0;
}
.cuestionario-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.cuestionario-dialog[open] {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    position: relative;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 600px;
    outline: none;
}

.header {
    background-color: var(--color-primary);
    padding: 1.5rem 2rem;
}

.header .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
}

.title strong {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-background);
}

.title i {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--color-text-primary);
    transition: all 0.2s ease-in-out;
}
.title i:hover {
    color: var(--color-background);
    transform: scale(1.1);
}

/* Datos Ficha */
.ficha-content {
    padding: 1.5rem 2rem;
    max-height: 80vh;
    overflow-y: auto;
    outline: none;
}

.ficha-content .container-2 {
    margin-top: 1.5rem;
}

.ficha-content h1 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-text-primary);
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
}

.ficha-content h1 i {
    color: var(--color-primary);
    margin-right: .3rem;
}
.ficha-content h1 .regla {
    rotate: -45deg;
}

.ficha-content .datos {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-left: 2px solid var(--color-border);
    margin: 0 .5em;
    padding: 0 1rem;
}
.datos h3 {
    color: var(--color-text-secondary);
    font-size: 1rem;
}
.datos span {
    color: var(--color-text-primary);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.nota-adicional {
    font-weight: 400 !important;
}

.ficha-content .container .descargar-pdf {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background: var(--color-button-primary);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: 1rem;
    color: var(--color-background);
    margin-top: 2rem;
    margin-left: auto;
    outline: none;
}
.ficha-content .container .descargar-pdf:hover {
    background: var(--color-button-hover);
}
.ficha-content .container .descargar-pdf:active {
    background: var(--color-button-active);
}



/* Progreso del Alumno */
.progreso-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 1rem;
}

.rendimiento {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    padding: 1rem;
}

.rendimiento h2 {
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--color-text-primary);
    margin-bottom: 1rem;
}


.evolucion-fuerza {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    padding: 1rem;
}

.evolucion-fuerza h2 {
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--color-text-primary);
    margin-bottom: 1rem;
}

.navigation-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
.navigation-buttons button {
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    border: none;
    outline: none;
    color: var(--color-primary);
    background-color: var(--color-background);
    cursor: pointer;
    border-radius: 5px;
    transition: all .1s linear;
}
.navigation-buttons button:hover {
    transform: scale(1.1);
}
.navigation-buttons button:active {
    transform: scale(.9);
}


.mejores-marcas-alumno {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    padding: 1rem;
}

.mejores-marcas-alumno h2 {
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--color-text-primary);
    margin-bottom: 1rem;
}

.mejores-marcas-alumno .marcadores-container {
    width: 100%;
    margin-top: 1rem;
}

.marcadores-container .marcador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 1rem;
}
.marcador strong {
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-text-primary);
    margin-bottom: .75rem;
}
.marcador span {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-text-secondary);
    border-radius: 50px;
    padding: 0 10px;
    margin-bottom: .75rem;
}
.marcador strong i.gold {
    color: oklch(85.2% 0.199 91.936);
}
.marcador strong i.silver {
    color: oklch(70.4% 0.04 256.788);
}
.marcador strong i.bronze {
    color: oklch(75% 0.183 55.934);
}



.observaciones-semanales {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    border: 1px solid var(--color-border);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 1rem;
    overflow-y: auto;
    max-height: 500px;
}

.observaciones-semanales h2 {
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--color-text-primary);
    margin-bottom: .5rem;
}

.observaciones-semanales .observacion {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-border);
}

.observacion div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .3rem;
}
.observacion div strong {
    font-size: 1.1rem;
    font-weight: 500;
}
.observacion div button {
    font-size: 1.5rem;
    color: var(--color-button-primary);
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: all 0.1s ease-in-out;
}
.observacion div button:hover {
    color: var(--color-button-hover);
    transform: scale(1.1);
}
.observacion div button:active {
    color: var(--color-button-active);
}

.observacion .observacion-texto,
.sin-datos {
    color: var(--color-text-secondary);
    font-size: 1rem;
}

/*  Estilos para el modal de foto semanal */
#fotoModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
    visibility: hidden;
    overflow: hidden;
    border-radius: 10px;
    padding: 0;
    background: transparent; /* Para que no tenga fondo blanco */
}
#fotoModal::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}
#fotoModal[open] {
    opacity: 1;
    visibility: visible;
}

#imagenModal {
    max-width: 90vw;
    max-height: 90vh;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    font-weight: bold;
    color: red;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10000;
    text-shadow: 1px 1px 3px #000;
}



/* Media Querys */
@media screen and (max-width: 1160px) {
    .alumno-container {
        padding: 1rem .5rem;
    }
}

@media screen and (max-width: 950px) {

}

@media screen and (max-width: 768px) {
    .progreso-alumno-container {
        flex-direction: column;
    }

    .alumno-container {
        margin-top: 1rem;
        width: 100%;
    }
}