@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
    font-weight: 400;
}

:root {
    /* ------ MAIN COLORS ------ */
    --color-primary: #DC2626;
    --color-secondary: #EDEDED;
    --color-background: #FFFFFF;
    /* ------ TEXT COLORS ------ */
    --color-text-primary: #222222;
    --color-text-secondary: #5b5b5b;
    /* ------ BUTTON COLORS ------ */
    --color-button-primary: #EF4444;
    --color-button-hover: #DC2626;
    --color-button-active: #B91C1C;
    /* ------ OTHERS COLORS ------ */
    --color-border: #DFDFDF;
    --color-flash-bg: #EEC8C5;
    --color-flash-text: #CA0000;
}

body {
    background-color: var(--color-background);
}



/* MAIN */
main {
    font-size: 24px;
    height: 100vh;
    color: var(--color-text-primary);
    margin-top: 70px;
    padding: 0 200px;
    background: rgb(255, 255, 255);
    z-index: -1;
}

.routine-container .routine-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.title h1 {
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-text-primary);
}

.title .routine-data {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.routine-data p {
    font-size: 1rem;
    color: var(--color-text-secondary);
}



.plan-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin-top: 1rem;
    border: 1px solid var(--color-button-primary);
    background: linear-gradient(325deg, rgba(239,68,68,1) 0%, rgba(220,38,38,1) 100%);
    padding: 15px;
}

.plan-container .weeks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.weeks h1 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-background);
}
.weeks .previous-week,
.weeks .next-week {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background: none;
    border: none;
    font-size: 1.7rem;
    cursor: pointer;
    transition: all .1s ease-in-out;
    color: var(--color-background);
}
.weeks .previous-week:hover,
.weeks .next-week:hover {
    transform: scale(1.1);
}
.weeks .previous-week:active,
.weeks .next-week:active {
    transform: scale(1);
}


/* Estilo del acordeón */
.accordion {
    width: 100%;
    overflow: hidden;
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid var(--color-border);
}
/* Animación */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.accordion-header {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s ease-in-out;
    border-bottom: 1px solid var(--color-border);
}
.accordion-header h1 {
    font-size: 1.3rem;
    font-weight: 400;
}
.accordion-header h1 span {
    font-weight: 600;
}
.accordion-header:hover {
    background: linear-gradient(325deg, rgba(239,68,68,1) 0%, rgba(220,38,38,1) 100%);
    color: var(--color-background);
    border-bottom: 1px solid var(--color-button-primary);
}
.accordion-header:active {
    background: linear-gradient(325deg, rgba(239,68,68,1) 0%, rgba(220,38,38,1) 100%);
}

.accordion-header .icon {
    font-size: 1.5rem;
    transition: transform 0.2s;
}

.accordion-header.active .icon {
    transform: rotate(180deg);
}

.accordion-content {
    display: none;
    padding: 20px;
    background-color: var(--color-background);
    animation: fadeIn 0.3s ease-in-out;
}

.accordion-content .excercise {
    position: relative;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-border);
}

.accordion-content .excercise-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.excercise-title input {
    accent-color: var(--color-button-primary);
    transform: scale(1.3); /* Aumenta el tamaño al 150% */
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.accordion-content h3 {
    font-size: 1.3rem;
    font-weight: 600;
}
.accordion-content .parameters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}
.parameters p {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    width: 100%;
    height: 40px;
    text-align: center;
    color: var(--color-primary);
}
.parameters p i {
    font-size: 1.3rem;
    margin-right: 7px;
}

.accordion-content .btn-see-exercise {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-button-primary);
    color: var(--color-background);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
    height: 40px;
    outline: none;
}
.btn-see-exercise i {
    margin-right: 5px;
    font-size: 1.3rem;
}
.btn-see-exercise:hover {
    background-color: var(--color-button-hover);
}
.btn-see-exercise:active {
    background-color: var(--color-button-active);
}

.accordion-content .observations {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1rem;
    font-size: 1rem;
}

.accordion-content .registers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}
.registers label {
    font-size: 1rem;
}
#observations {
    font-size: 1rem;
}
.registers input {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    width: 100%;
    height: 40px;
    color: var(--color-text-primary);
    outline: none;
    transition: all 0.2s ease-in-out;
}
.registers input:focus {
    border-color: var(--color-primary);
}

.accordion-content textarea {
    resize: none; /* Deshabilita el redimensionamiento */
    width: 100%; /* Ocupa el 100% del contenedor */
    border: 1px solid var(--color-border); /* Borde de color rojo */
    padding: 10px;
    border-radius: 5px; /* Esquinas redondeadas */
    overflow: hidden; /* Evita el desbordamiento */
    outline: var(--color-button-active);
    height: 130px;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}
.accordion-content textarea:focus {
    border-color: var(--color-primary);
}

.save-day {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-button-primary);
    color: var(--color-background);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
    height: 40px;
    margin-left: auto;
}

/* Estilos para el modal */
.exercise-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
    visibility: hidden;
    overflow: hidden;
    border-radius: 10px;
}
.exercise-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Clase para el efecto fade-in cuando se abre */
.exercise-dialog[open] {
    opacity: 1;
    visibility: visible;
}

/* Contenido del modal */
.modal-content {
    position: relative;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;    /* Previene scroll en el contenido */
}

/* Botón de cerrar (X) */
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: var(--color-text-primary);
    z-index: 10000;      /* Asegura que esté por encima */
    transition: all 0.2s ease-in-out;
}
.close-modal:hover {
    color: var(--color-primary);
    transform: scale(1.1);
}

/* Estilo para la imagen dentro del modal */
.modal-content img {
    width: auto;
    height: auto;
    max-width: min(100%, 600px); /* 600px o el ancho máximo que prefieras */
    max-height: 80vh;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}


/* Prevenir scroll en el body cuando el modal está abierto */
body.modal-open {
    overflow: hidden;
}

.asterisk {
    color: var(--color-primary);
    font-size: 1rem;
}



/* PROGRESO SEMANAL */
.week-progress {
    margin-top: 1rem;
    width: 100%;
    overflow: hidden;
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    padding: .5rem 1rem;
}

.week-progress h2 {
    font-weight: 600;
    font-size: 1.3rem;
}

.week-progress-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: .5rem;
}
.week-no-progress-container {
    justify-content: start;
    margin-top: 0;
}

.week-progress-container strong {
    font-weight: 600;
    font-size: 1.1rem;
}
.week-progress-container p {
    font-size: .95rem;
    color: var(--color-text-secondary);
}

.week-progress-container .photo {
    width: 50%;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    padding: .5rem 1rem;
    justify-content: center;
}
.week-progress-container .photo-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    border-radius: 5px;
}
.photo-container img {
    width: 300px;
    height: auto;
    border-radius: 5px;
}

.week-progress-container .sensations {
    width: 50%;
    border-radius: 10px;
    border: 1px solid var(--color-border);
    padding: .5rem 1rem;
}

.sensations .observations {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--color-text-primary);
}

/* PROGRESO SEMANAL FORM */
.week-progress form input[type='file'] {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    width: 100%;
    color: var(--color-text-primary);
    outline: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 1rem;
}
.week-progress form input:hover {
    border-color: var(--color-primary);
}

.week-progress form textarea {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    width: 100%;
    height: 150px;
    color: var(--color-text-primary);
    outline: none;
    resize: none;
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;
}
.week-progress form textarea:focus {
    border-color: var(--color-primary);
}

.week-progress form button {
    margin: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-button-primary);
    color: var(--color-background);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
    height: 40px;
    width: 100%;
}
.week-progress form button:hover {
    background-color: var(--color-button-hover);
}
.week-progress form button:active {
    background-color: var(--color-button-active);
}



/* RESPONSIVE */
@media screen and (max-width: 1160px) {
    main {
        padding: 0 100px;
    }
}

@media screen and (max-width: 950px) {
    main {
        padding: 0 20px;
    }
}

@media screen and (max-width: 768px) {
    main {
        padding: 0px 20px;
    }

    .accordion-content .parameters {
        flex-direction: column;
    }

    .accordion-content .registers {
        flex-direction: column;
    }

    .registers div {
        width: 100%;
    }

    .save-day {
        width: 100%;
    }

    .modal-content img {
        max-width: 95vw; /* Ocupará casi todo el ancho de la pantalla */
        max-height: 70vh; /* Pero limitará la altura */
    }

    .week-progress-container {
        flex-direction: column;
    }

    .week-progress-container .photo {
        width: 100%;
    }

    .week-progress-container .sensations {
        width: 100%;
    }
}