<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Training+{% endblock %}</title>

    <!-- Estilos CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rutina.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buscar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/usuario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notificaciones.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/opciones.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crear_entrenamiento.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progreso.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progreso_alumno.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editar_entrenamiento.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reporte_observaciones.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Iconos -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- JSPDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
</head>

<body class="base-body">
    <!-- Pantalla de carga -->
    <div id="loading-screen" title="Pantalla de carga: espera mientras se carga la página">
        <div class="spinner" title="Animación de carga"></div>
    </div>

    <!-- Modal de Notificaciones -->
    <dialog class="modal-notificaciones" id="modalNotificaciones">
        <div class="title" title="Encabezado de notificaciones">
            <h1 title="Lista de notificaciones recibidas">Notificaciones</h1>
            <i class='bx bx-x' id="close-modal-notification" title="Cerrar ventana de notificaciones"></i>
        </div>
    
        <div class="notifications-container" id="notifications-list" title="Aquí se mostrarán las notificaciones dinámicamente">
            <!-- Aquí se mostrarán las notificaciones dinámicamente -->
        </div>
    </dialog>
    
    <!-- Barra de navegación -->
    <nav class="nav">
        <i class='bx bx-menu navOpenBtn' title="Abrir menú de navegación"></i>
        <img src="/static/images/logo.png" alt="Logo de Training+" class="logo-image" width="50px" height="auto" title="Logo de la aplicación">
        <ul class="nav-links" title="Barra de navegación principal">
            <i class='bx bx-x navCloseBtn' title="Cerrar menú de navegación"></i>
            <li><a href="{{ url_for('entrenamiento.entrenamiento') }}" title="Ir a la sección de entrenamientos">ENTRENAMIENTO</a></li>
            <li><a href="{{ url_for('perfil.perfil', nombre_usuario=session['nombre_usuario']) }}" title="Ver y editar tu perfil">PERFIL</a></li>
            {% if session['rol'] == 2 %}
                <li><a href="{{ url_for('dashboard.dashboard') }}" title="Ver el dashboard de entrenador">DASHBOARD</a></li>
            {% else %}
                <li><a href="{{ url_for('progreso.progreso') }}" title="Ver tu progreso personal">PROGRESO</a></li>
            {% endif %}
            <li class="menu-opciones"><a href="{{  url_for('opciones.opciones') }}" title="Configuración y ayuda">OPCIONES</a></li>
            <li class="menu-notificacion"><a href="{{ url_for('notificaciones.listar_solicitudes') }}" title="Ver tus notificaciones">NOTIFICACIONES</a>
            </li>

            <li class="menu-traduccion" title="Traduce la página a otro idioma">
                <button id="translate-button-nav" class="translate-nav-btn" title="Traducir la navegación">
                    <span class="translate-text" title="Botón para traducir la navegación">TRADUCIR</span>
                </button>
                <div id="google_translate_element_nav" style="display: none;" title="Widget de traducción"></div>
            </li>

            <li><a href="{{ url_for('auth.logout') }}" title="Cerrar sesión">LOGOUT</a></li>
        </ul>
        
        <div class="search-setting-box" title="Opciones y búsqueda">
            <a title="Ir a opciones" class="menu-opciones-icon" href="{{  url_for('opciones.opciones') }}"><i class='bx bx-dots-vertical-rounded' title="Ir a opciones"></i></a>
            <i class='bx bx-search icono-busqueda' id="iconoBusqueda" title="Abrir barra de búsqueda"></i>
        </div>

        <div class="busqueda-box" id="busquedaBox" title="Barra para buscar usuarios o entrenadores">
            <i class="bx bx-search icono-busqueda" id="iconoBusqueda2" title="Buscar"></i>
            <input type="text" id="busquedaInput" onkeyup="buscarUsuarios()" placeholder="Buscar usuarios o entrenadores" title="Escribe para buscar usuarios o entrenadores">
            <div id="resultadosBusqueda" class="resultados-busqueda" title="Resultados de búsqueda"></div>
        </div>
    </nav>

    <!-- Contenido principal -->
    <main id="main-content">
        {% block content %}

        {% endblock %}
    </main>

    <!-- Botón de Traducción -->
    <button id="translate-button" title="Traducir la página" data-aos="fade-up">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Google_Translate_logo.svg" alt="Google Translate" class="translate-icon">
    </button>
    <div id="google_translate_element" style="display: none;"></div>


    <!-- Botón de Notificaciones -->
    <a href="{{ url_for('notificaciones.listar_solicitudes') }}" class="btn-notification open-modal-notification" title="Notificaciones" data-aos="fade-up">
        <span class="notification-count" id="notificationCount" style="display: none;"></span>
        <i class='bx bxs-bell'></i>
    </a>

    <!-- BARRA DE NAVEGACION (BASE) -->
    <script>
        const nav = document.querySelector(".nav"),
            iconoBusqueda = document.querySelector("#iconoBusqueda"), 
            navOpenBtn = document.querySelector(".navOpenBtn"), 
            navCloseBtn = document.querySelector(".navCloseBtn");

        iconoBusqueda.addEventListener("click", () => {
            nav.classList.toggle("abrirBusqueda")
            nav.classList.remove("openNav")
            if(nav.classList.contains("abrirBusqueda")) {
                return iconoBusqueda.classList.replace("bx-search", "bx-x");
            }
            iconoBusqueda.classList.replace("bx-x", "bx-search");
        });

        navOpenBtn.addEventListener("click", () => {
            nav.classList.add("openNav");
            nav.classList.remove("abrirBusqueda")
            iconoBusqueda.classList.replace("bx-x", "bx-search");
        })

        navCloseBtn.addEventListener("click", () => {
            nav.classList.remove("openNav");
        })
    </script>

    <!-- BARRA DE BUSQUEDA -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchBox = document.querySelector('#busquedaInput');
            const searchIcon = document.querySelector('#iconoBusqueda2');

            function performSearch() {
                const query = searchBox.value.trim();
                if (query) {
                    searchBox.value = '';
                    window.location.href = `/buscador?query=${encodeURIComponent(query)}`;
                }
            }

            searchBox.addEventListener('keypress', function (e) {
                if (e.key === 'Enter') {
                    performSearch();
                }
            });

            searchIcon.addEventListener('click', performSearch);
        });
    </script>

    <!-- PERFIL SELECCIONADO -->
    <script>
        function mostrarDialogoPerfil(usuario) {
            const dialog = document.getElementById("profile-dialog");

            document.getElementById("profile-foto").src = `/static/uploads/${usuario.foto_perfil}`;
            document.getElementById("profile-nombre").textContent = `${usuario.nombre.toUpperCase()} ${usuario.apellido.toUpperCase()}`;
            document.getElementById("profile-username").textContent = `@${usuario.nombre_usuario}`;
            document.getElementById("profile-bio").textContent = `"${usuario.bio}"`;
            document.getElementById("profile-ubicacion").textContent = usuario.direccion;
            document.getElementById("profile-fecha").textContent = usuario.fecha_nac;

            dialog.showModal();
        }

        function cerrarDialogoPerfil() {
            const dialog = document.getElementById("profile-dialog");
            dialog.close();
        }
    </script>

    <!-- PERFIL DE USUARIO -->
    <script>
        function habilitarEdicion() {
            var inputs = document.querySelectorAll('input, select, textarea');
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].id !== 'correo') {
                    inputs[i].disabled = false;
                }
            }

            document.querySelector('.boton-guardar').disabled = false;
            document.querySelector('.boton-editar').disabled = true;
        }

        function deshabilitarEdicion() {
            var inputs = document.querySelectorAll('input, select, textarea');
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].disabled = true;
            }

            document.querySelector('.boton-guardar').disabled = true;
            document.querySelector('.boton-editar').disabled = false;
        }

        function sin_espacio(input) {
            input.value = input.value.replace(/ /g, '');
        }
    </script>

    <!-- CERRAR SESION -->
        <script>
        window.history.pushState(null, "", window.location.href);
        window.onpopstate = function() {
            window.history.pushState(null, "", window.location.href);
        };
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const loadingScreen = document.getElementById('loading-screen');
            const content = document.getElementById('content');

            // Espera a que la página cargue completamente
            window.onload = () => {
                loadingScreen.style.display = 'none'; // Oculta el loading
                content.style.display = 'block'; // Muestra el contenido
            };

            // Inicializar AOS
            AOS.init({
                startEvent: 'DOMContentLoaded', // Inicia las animaciones cuando se carga la página
                offset: 0,                     // Desactiva el offset del scroll
                once: true                     // Asegúrate de que se ejecute solo una vez
            });
        })
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch("{{ url_for('notificaciones.cantidad_notificaciones') }}")
                .then(response => response.json())
                .then(data => {
                    const notificationCount = document.getElementById("notificationCount");

                    if (data.cantidad !== null) {
                        notificationCount.textContent = data.cantidad === 9 ? "+9" : data.cantidad;
                        notificationCount.style.display = "flex"; // Mostrar si hay notificaciones
                    } else {
                        notificationCount.style.display = "none"; // Ocultar si no hay notificaciones
                    }
                })
                .catch(error => console.error("Error al obtener notificaciones:", error));
        });
    </script>

    <!-- Traductor -->
    <script type="text/javascript">
        // Controlador para ambos botones
        function setupTranslateButton(buttonId, elementId) {
            const button = document.getElementById(buttonId);
            if (!button) return;
            
            button.addEventListener('click', function() {
                if (!window.google || !google.translate) {
                    const script = document.createElement('script');
                    script.src = '//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit';
                    document.body.appendChild(script);
                } else {
                    document.getElementById(elementId).style.display = 'block';
                }
            });
        }

        // Inicializar ambos botones
        document.addEventListener('DOMContentLoaded', function() {
            setupTranslateButton('translate-button', 'google_translate_element');
            setupTranslateButton('translate-button-nav', 'google_translate_element_nav');
        });

        // Función de inicialización
        function googleTranslateElementInit() {
            // Configuración para el botón flotante
            new google.translate.TranslateElement({
                pageLanguage: 'es',
                includedLanguages: 'en,es',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                autoDisplay: false
            }, 'google_translate_element');
            
            // Configuración para el botón del navbar
            new google.translate.TranslateElement({
                pageLanguage: 'es',
                includedLanguages: 'en,es',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                autoDisplay: false
            }, 'google_translate_element_nav');
            
            // Ocultar la barra de Google
            document.querySelector('.goog-te-banner-frame').style.display = 'none';
            document.body.style.top = '0';
        }
    </script>

</body>
</html>