<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Training+{% endblock %}</title>

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rutina.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buscar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/usuario.css') }}">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    
    <script src="{{ url_for('static', filename='javascript/script.js') }}" defer></script>
</head>
<body class="base-body">
    <!-- Loading Screen -->
    <div id="loading-screen">
        <div class="spinner"></div>
    </div>



    <dialog class="modal-notificaciones" id="modalNotificaciones">
        <div class="title">
            <h1>Notificaciones</h1>
            <i class='bx bx-x' id="close-modal-notification"></i>
        </div>
    
        <div class="notifications-container" id="notifications-list">
            <!-- Aquí se mostrarán las notificaciones dinámicamente -->
        </div>
    </dialog>
    



    <nav class="nav">
        <i class='bx bx-menu navOpenBtn'></i>
        <img src="/static/images/logo.png" alt="" class="logo-image" width="50px" height="auto">
        <ul class="nav-links">
            <i class='bx bx-x navCloseBtn'></i>
            <li><a href="{{ url_for('entrenamiento.entrenamiento') }}">ENTRENAMIENTO</a></li>
            <li><a href="#">PROGRESO</a></li>
            <li><a href="{{ url_for('perfil.perfil', nombre_usuario=session['nombre_usuario']) }}">PERFIL</a></li>
            <li><a href="#">CONFIGURACIÓN</a></li>
            <li><a href="{{ url_for('auth.logout') }}">LOGOUT</a></li>
            <li>
                <button class="btn-notificaciones btn-notificaciones-nav open-modal-notification" id="openModalBtn">
                    NOTIFICACIONES <span id="notification-count-nav"></span>
                </button>
            </li>
        </ul>
        
        <i class='bx bx-search icono-busqueda' id="iconoBusqueda"></i>

        <div class="busqueda-box" id="busquedaBox">
            <i class="bx bx-search icono-busqueda" id="iconoBusqueda2"></i>
            <input type="text" id="busquedaInput" onkeyup="buscarUsuarios()" placeholder="Buscar usuarios o entrenadores">
            <div id="resultadosBusqueda" class="resultados-busqueda"></div>
        </div>
    </nav>



    <main id="main-content">
        {% block content %}

        {% endblock %}
    </main>


    <button class="btn-notification open-modal-notification">
        <i class='bx bxs-bell'></i><span id="notification-count"></span>
    </button>




    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const loadingScreen = document.getElementById('loading-screen');
            const content = document.getElementById('content');

            // Espera a que la página cargue completamente
            window.onload = () => {
                loadingScreen.style.display = 'none'; // Oculta el loading
                content.style.display = 'block'; // Muestra el contenido
            };




            // Notificaciones
            const modalNotificaciones = document.querySelector('#modalNotificaciones');
            const btnOpenNotificationList = document.querySelectorAll('.open-modal-notification');
            const btnCloseNotification = document.querySelector('#close-modal-notification');
            const notificationSpan = document.getElementById("notification-count");

            // Abrir la modal
            btnOpenNotificationList.forEach(btnOpen => {
                btnOpen.addEventListener('click', () => {
                    fetch('/obtener_notificaciones')  // Realizar la solicitud AJAX para obtener las notificaciones
                        .then(response => response.json())
                        .then(data => {
                            const notificationsList = document.getElementById('notifications-list');
                            notificationsList.innerHTML = '';  // Limpiar las notificaciones previas

                            // Si hay notificaciones, mostrar
                            if (data.length > 0) {
                                data.forEach(notificacion => {
                                    const div = document.createElement('div');
                                    div.classList.add('notification');
                                    div.innerHTML = `
                                        <div class="notification-content">
                                            <h3>${notificacion.usuario_origen}</h3> <!-- Nombre del usuario origen -->
                                            <p>${notificacion.mensaje}</p> <!-- Mensaje -->
                                            <span class="date">${notificacion.fecha}</span> <!-- Fecha -->
                                            ${notificacion.estado === 'pendiente' ? `
                                                <form method="POST" action="/notificaciones/actualizar_notificacion/${notificacion.id}">
                                                    <input type="hidden" name="id_notificacion" value="${notificacion.id}">
                                                    <button type="submit" name="accion" value="aceptar" class="btn btn-success">Aceptar</button>
                                                    <button type="submit" name="accion" value="rechazar" class="btn btn-danger">Rechazar</button>
                                                </form>
                                            ` : `<span class="estado">Estado: ${notificacion.estado}</span>`}
                                        </div>
                                    `;
                                    notificationsList.appendChild(div);
                                });
                            } else {
                                notificationsList.innerHTML = '<p>No hay notificaciones.</p>';
                            }
                        })
                        .catch(error => {
                            console.error('Error al obtener notificaciones:', error);
                        });

                    modalNotificaciones.showModal();  // Mostrar la modal
                });
            });

            // Cerrar la modal
            btnCloseNotification.addEventListener('click', () => {
                modalNotificaciones.close();
            });

            // Actualizar la cantidad de notificaciones
            const notificationValue = parseInt(notificationSpan.textContent);
            if (notificationValue <= 0) {
                notificationSpan.style.display = "none";
            } else {
                notificationSpan.style.display = "flex";
                notificationSpan.textContent = notificationValue > 9 ? "+9" : notificationValue;
            }



            // NOTIFICACIONES
            const notificationCountElement = document.getElementById("notification-count");

            // Función para obtener el conteo de notificaciones
            function obtenerNotificaciones() {
                fetch('/obtener_count_notificaciones')
                    .then(response => response.json())
                    .then(data => {
                        const count = data.count; // El número de notificaciones pendientes
                        notificationCountElement.textContent = count; // Actualizar el texto del span

                        // Si no hay notificaciones, ocultar el span
                        if (count <= 0) {
                            notificationCountElement.style.display = "none";
                        } else {
                            notificationCountElement.style.display = "flex"; // Mostrar el número
                        }
                    })
                    .catch(error => {
                        console.error("Error al obtener el conteo de notificaciones:", error);
                    });
            }

            // Obtener notificaciones al cargar la página
            obtenerNotificaciones();

            // Actualizar el número de notificaciones cada 1 segundo (1000 ms)
            setInterval(obtenerNotificaciones, 1000);

            
            const notificationCountElementNav = document.getElementById("notification-count-nav");

            // Función para obtener el conteo de notificaciones
            function obtenerNotificacionesNav() {
                fetch('/obtener_count_notificaciones')
                    .then(response => response.json())
                    .then(data => {
                        const count = data.count; // El número de notificaciones pendientes
                        notificationCountElementNav.textContent = count; // Actualizar el texto del span

                        // Si no hay notificaciones, ocultar el span
                        if (count <= 0) {
                            notificationCountElementNav.style.display = "none";
                        } else {
                            notificationCountElementNav.style.display = "flex"; // Mostrar el número
                        }
                    })
                    .catch(error => {
                        console.error("Error al obtener el conteo de notificaciones:", error);
                    });
            }

            // Obtener notificaciones al cargar la página
            obtenerNotificacionesNav();

            // Actualizar el número de notificaciones cada 1 segundo (1000 ms)
            setInterval(obtenerNotificacionesNav, 1000);

        })
    </script>
</body>
</html>