{% extends 'base.html' %}

{% block title %}
    Resultados de Búsqueda - Training+
{% endblock %}

{% block content %}

<!-- Título y Filtros -->
<div class="title">
    <h1>Resultados de Búsqueda</h1>
    <p>Filtra los resultados para una búsqueda más precisa.</p>
    <form class="filters-container" method="get" action="{{ url_for('buscar.buscador') }}">
        <input type="hidden" name="query" value="{{ query }}">
        
        <select name="tipo" id="tipo" onchange="this.form.submit()">
            <option value="">Filtrar por Tipo</option>
            <option value="2" {% if request.args.get('tipo') == '2' %}selected{% endif %}>Entrenador</option>
            <option value="1" {% if request.args.get('tipo') == '1' %}selected{% endif %}>Usuario</option>
        </select>
        
        <select name="pais" id="pais" onchange="this.form.submit()">
            <option value="">Filtrar por País</option>
            {% for pais in paises %}
                <option value="{{ pais.id_pais }}" {% if request.args.get('pais') == pais.id_pais|string %}selected{% endif %}>{{ pais.nombre }}</option>
            {% endfor %}
        </select>
        
        <select name="sexo" id="sexo" onchange="this.form.submit()">
            <option value="">Filtrar por Género</option>
            <option value="masculino" {% if request.args.get('sexo') == 'masculino' %}selected{% endif %}>Masculino</option>
            <option value="femenino" {% if request.args.get('sexo') == 'femenino' %}selected{% endif %}>Femenino</option>
        </select>
    </form>
</div>

<!-- Mostrar Resultados -->
{% if resultados %}
    {% for id_usuario, nombre_usuario, rol, nombre, apellido, foto_perfil, nombre_pais, codigo_iso, sexo_alumno, nombre_entrenador, apellido_entrenador, foto_entrenador, sexo_entrenador in resultados %}
    <div class="results-container open-modal" id="open-modal" data-id="{{ id_usuario }}">
        <div class="user-data">
            <div class="photo">
                {% if rol == 1 %}
                    <img src="{{ url_for('static', filename='uploads/users/' + (foto_perfil or 'profile.webp')) }}" alt="Foto de Perfil">
                {% else %}
                    <img src="{{ url_for('static', filename='uploads/users/' + (foto_entrenador or 'profile.webp')) }}" alt="Foto de Perfil">
                {% endif %}
            </div>
            <div class="user">
                {% if rol == 1 %}
                    <h2>{{ nombre|upper }} {{ apellido|upper }} 
                        <i class="bx bx-user"></i>
                    </h2>
                    <p>@{{ nombre_usuario }}</p>
                    <p>{{ nombre_pais }}</p>
                {% else %}
                    <h2>{{ nombre_entrenador|upper }} {{ apellido_entrenador|upper }} 
                        <i class="bx bx-medal"></i>
                    </h2>
                    <p>@{{ nombre_usuario }}</p>
                    <p>{{ nombre_pais }}</p>
                {% endif %}
            </div>
            <i class='bx bx-chevron-right open-profile'></i>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="results-container">
        <p>No se encontraron resultados para "{{ query }}".</p>
    </div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const userDivs = document.querySelectorAll('.results-container');

        userDivs.forEach(div => {
            div.addEventListener('click', () => {
                const userId = div.getAttribute('data-id');
                if (userId) {
                    // Redirige a la ruta del usuario
                    window.location.href = `/usuario/${userId}`;
                }
            });
        });
    });
</script>

{% endblock %}