{% extends 'base.html' %}

{% block title %}Crear Entrenamiento - Training+{% endblock %}

{% block content %}

<form id="form-entrenamiento" class="crear-entrenamiento" method="POST" action="/crear_entrenamiento">
    <div class="crear-entrenamiento-title" data-aos="fade-in">
        <h1>Crear Entrenamiento</h1>

        <div class="progreso-container-rutina">
            <span class="step active" id="step-1" title="Configuración de Entrenamiento" data-aos="fade-in" data-aos-delay="100">1</span>

            <div class="line" data-aos="fade-in" data-aos-delay="100"></div>

            <span class="step" id="step-2" title="Configuración de Días" data-aos="fade-in" data-aos-delay="200">2</span>
            
            <div class="line" data-aos="fade-in" data-aos-delay="200"></div>
            
            <span class="step" id="step-3" title="Configuración de Ejercicios" data-aos="fade-in" data-aos-delay="300">3</span>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="flash {{ category }}">
                        <i class="{{ 'bx bxs-error-circle' if category == 'error' else 'bx bxs-check-circle' }}"></i>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Sección 1 -->
    <div class="seccion seccion-1">
        <div class="inputs" data-aos="fade-down" data-aos-delay="100">
            <label for="nombre_entrenamiento">Nombre del Entrenamiento</label>
            <input type="text" id="nombre_entrenamiento" name="nombre_entrenamiento" placeholder="Ingresa un nombre para el entrenamiento" required>
        </div>

        <div class="inputs" data-aos="fade-down" data-aos-delay="200">
            <label for="alumno">Alumno</label>
            <select id="alumno" name="id_alumno" required>
                <option value="" disabled selected>Seleccionar Alumno</option>
                {% for alumno in alumnos %}
                <option value="{{ alumno.id_alumno }}">{{ alumno.nombre }} {{ alumno.apellido }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="inputs" data-aos="fade-down" data-aos-delay="300">
            <label for="disciplina">Disciplina</label>
            <select name="disciplina" id="disciplina" required>
                <option value="" disabled selected>Seleccionar Disciplina</option>
                <option value="1">Fitness</option>
            </select>
        </div>

        <div class="inputs" data-aos="fade-down" data-aos-delay="400">
            <label for="duracion_semanas">Duración (en semanas)</label>
            <input type="number" id="duracion_semanas" name="duracion_semanas" min="1" max="12" placeholder="Ingresa la duración en semanas" required>
        </div>

        <button type="button" onclick="generarSemanas()" data-aos="fade-right" data-aos-delay="500">Continuar</button>
    </div>

    <!-- Sección 2 -->
    <div class="seccion seccion-2" style="display: none;">
        <div id="semanas-contenedor"></div>
        <button type="button atras" onclick="mostrarSeccion(1)">Atrás</button>
        <button type="button" onclick="generarDias()">Continuar</button>
    </div>

    <!-- Sección 3 -->
    <div class="seccion seccion-3" style="display: none;">
        <div id="dias-contenedor"></div>
        <button type="button" onclick="mostrarSeccion(2)">Atrás</button>
        <button type="submit" disabled>Finalizar</button>
    </div>
</form>

<script>
    function mostrarSeccion(numero) {
        document.querySelectorAll('.seccion').forEach(s => s.style.display = 'none');
        document.querySelector(`.seccion-${numero}`).style.display = 'block';

        actualizarProgreso(numero);

    }

    function generarSemanas() {
        let semanasContenedor = document.getElementById('semanas-contenedor');
        semanasContenedor.innerHTML = '';  
        let duracion = document.getElementById('duracion_semanas').value;

        for (let i = 1; i <= duracion; i++) {
            semanasContenedor.innerHTML += `
                <details class="details-semana">
                    <summary class='summary-semana'>Semana ${i}</summary>
                    <div class="dias-container">
                        <label>Cantidad de Días:</label>
                        <input type="number" name="semanas[${i}][dias]" min="1" max="7" value="1" placeholder="Ingresa cuantos días se entrenarán en esta semana" required>
                    </div>
                </details>
            `;
        }

        mostrarSeccion(2);
    }

    function generarDias() {
        let diasContenedor = document.getElementById('dias-contenedor');
        diasContenedor.innerHTML = '';  
        let semanas = document.querySelectorAll('#semanas-contenedor details');

        semanas.forEach((semana, i) => {
            let inputDias = semana.querySelector('input');
            let numDias = inputDias.value;
            let semanaHTML = `<details class="details-semana"><summary>Semana ${i+1}</summary>`; 

            for (let j = 1; j <= numDias; j++) {
                semanaHTML += `
                    <details class="details-dia">
                        <summary class='summary-dia'>Día ${j}</summary>
                        <div class="rutina-container">
                            <div class="rutina">
                                <label>Nombre de la Rutina:</label>
                                <input type="text" name="semanas[${i+1}][dias][${j}][nombre_rutina]" placeholder="Ej: Pecho, Piernas" required>
                            </div>

                            <div class="rutina">
                                <label>Cantidad de Ejercicios:</label>
                                <input type="number" name="semanas[${i+1}][dias][${j}][ejercicios]" min="1" placeholder="Cantidad de ejercicios" required>
                            </div>
                        </div>

                        <button class="btn-agregar-ejercicio" type="button" onclick="agregarEjercicios(${i+1}, ${j})"><i class='bx bx-plus'></i> Agregar Ejercicio</button>
                        <div class="ejercicios-semana" id="ejercicios-semana-${i+1}-dia-${j}"></div>
                    </details>
                `;
            }

            semanaHTML += '</details>';
            diasContenedor.innerHTML += semanaHTML;
        });

        mostrarSeccion(3);
    }

    function agregarEjercicios(semana, dia) {
        let contenedor = document.getElementById(`ejercicios-semana-${semana}-dia-${dia}`);
        let numEjercicios = document.querySelector(`input[name="semanas[${semana}][dias][${dia}][ejercicios]"]`).value;
        contenedor.innerHTML = '';

        for (let i = 1; i <= numEjercicios; i++) {
            contenedor.innerHTML += `
                <details class="details-ejercicio">
                    <summary>Ejercicio ${i}</summary>
                    <div class="ejercicios-container">
                        <label>Ejercicio:</label>
                        <select name="semanas[${semana}][dias][${dia}][ejercicios][${i}][id_ejercicio]" required>
                            <option value="">Seleccionar Ejercicio</option>
                            {% for ejercicio in ejercicios %}
                            <option value="{{ ejercicio.id_ejercicio }}">{{ ejercicio.nombre_ejercicio }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="inputs-container">
                        <div class="inputs">
                            <label>Series:</label>
                            <input type="number" name="semanas[${semana}][dias][${dia}][ejercicios][${i}][series]" min="1" required>
                        </div>
                        
                        <div class="inputs">
                            <label>Repeticiones:</label>
                            <input type="number" name="semanas[${semana}][dias][${dia}][ejercicios][${i}][repeticiones]" min="1" required>
                        </div>  
                    </div>


                    <div class="inputs-container">
                        <div class="inputs">
                            <label>Peso (kg):</label>
                            <input type="number" name="semanas[${semana}][dias][${dia}][ejercicios][${i}][peso]" min="0" step="0.1" required>
                        </div>
                        
                        <div class="inputs">
                            <label>Descanso (segundos):</label>
                            <input type="number" name="semanas[${semana}][dias][${dia}][ejercicios][${i}][tiempo_descanso]" min="0" required>
                        </div>  
                    </div>
                </details>
            `;
        }
    }

    function actualizarProgreso(seccionActual) {
        // Reinicia todos los pasos y líneas
        document.querySelectorAll('.step').forEach(step => {
            step.classList.remove('completed', 'active');
            step.textContent = step.id.split('-')[1]; // Restaura el número
        });
        document.querySelectorAll('.line').forEach(line => {
            line.classList.remove('completed');
        });

        // Marca los pasos y líneas completados
        for (let i = 1; i < seccionActual; i++) {
            const step = document.getElementById(`step-${i}`);
            const line = document.getElementById(`line-${i}`);

            step.classList.add('completed');
            step.textContent = ''; // Elimina el número
            if (line) line.classList.add('completed');
        }

        // Marca el paso actual como activo
        const stepActual = document.getElementById(`step-${seccionActual}`);
        if (stepActual) stepActual.classList.add('active');
    }

    const form = document.getElementById("form-entrenamiento");
    const finalizarBtn = form.querySelector('button[type="submit"]');

    function validarCampos() {
        const inputs = form.querySelectorAll("input[required], select[required]");
        let todosCompletos = true;

        inputs.forEach(input => {
            if (!input.value.trim()) {
                todosCompletos = false;
            }
        });

        finalizarBtn.disabled = !todosCompletos;
    }

    form.addEventListener("input", validarCampos);
    form.addEventListener("change", validarCampos);
    
    validarCampos();
</script>
{% endblock %}