{% extends 'base.html' %}

{% block title %}
    Entrenamiento - Training+
{% endblock %}

{% block content %}
    <div class="training-container">
        <div class="training-header">
            <div class="title">
                <h1>Tus Entrenamientos</h1>
                <p>Visualiza y gestiona tus programas de entrenamiento.</p>
            </div>
            <button class="btn-new-training"><i class='bx bx-plus'></i> Nuevo Entrenamiento</button>
        </div>
        
        <div class="filters-box">
            <button class="filter active">Todos</button>
            <button class="filter">Activos</button>
            <button class="filter">Completados</button>
        </div>

        <div class="training-box">
            <div class="training">
                <div class="tipo">
                    <h3>Fitness</h3>
                    <i class='bx bx-dumbbell'></i>
                </div>
                
                <h1>Volumen de Masa Muscular</h1>

                <div class="duration">
                    <p><i class='bx bx-time-five'></i> 12 Semanas</p>
                </div>

                <div class="trainer-content">
                    <img src="https://imgcdn.stablediffusionweb.com/2024/5/26/7c87c14a-9112-4dfb-98e6-749143527fbe.jpg" alt="Trainer">
                    <div class="trainer-info">
                        <h3>Entrenador</h3>
                        <p>Carlos Pérez</p>
                    </div>
                </div>

                <div class="progress">
                    <p>Progreso</p>
                    <span class="progress-percentage">75%</span>
                </div>

                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 75%;"></div>
                </div>

                <div class="actions">
                    <a class="btn-view-training" href="{{ url_for('rutina.rutina', id=1) }}">Ir al Entrenamiento <i class='bx bx-chevron-right'></i></a>
                    <button class="btn-delete-training"><i class='bx bxs-pencil'></i></button>
                </div>

            </div>

            <div class="training">
                <div class="tipo">
                    <h3 style="background-color: #cc66cc;">Crossfit</h3>
                    <i class='bx bx-dumbbell'></i>
                </div>
                
                <h1>WOD Intensivo</h1>

                <div class="duration">
                    <p><i class='bx bx-time-five'></i> 8 Semanas</p>
                </div>

                <div class="trainer-content">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2eXSX1ZyQcetKvMjML__XtfYfVuGNbsFISw&s" alt="Trainer">
                    <div class="trainer-info">
                        <h3>Entrenador</h3>
                        <p>Roberto García</p>
                    </div>
                </div>

                <div class="progress">
                    <p>Progreso</p>
                    <span class="progress-percentage">50%</span>
                </div>

                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 50%;"></div>
                </div>

                <div class="actions">
                    <a class="btn-view-training" href="{{ url_for('rutina.rutina', id=2) }}">Ir al Entrenamiento <i class='bx bx-chevron-right'></i></a>
                    <button class="btn-delete-training"><i class='bx bxs-pencil'></i></button>
                </div>
            </div>

            <div class="training">
                <div class="tipo">
                    <h3 style="background-color: #71cc66;">Yoga</h3>
                    <i class='bx bx-dumbbell'></i>
                </div>
                
                <h1>Flexibilidad y Balance</h1>

                <div class="duration">
                    <p><i class='bx bx-time-five'></i> 6 Semanas</p>
                </div>

                <div class="trainer-content">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb3UIidM_lxE37bc_p5RI-rir-zNbnGuj2FQ&s" alt="Trainer">
                    <div class="trainer-info">
                        <h3>Entrenador</h3>
                        <p>Irene González</p>
                    </div>
                </div>

                <div class="progress">
                    <p>Progreso</p>
                    <span class="progress-percentage">25%</span>
                </div>

                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 25%;"></div>
                </div>

                <div class="actions">
                    <a class="btn-view-training" href="{{ url_for('rutina.rutina', id=3) }}">Ir al Entrenamiento <i class='bx bx-chevron-right'></i></a>
                    <button class="btn-delete-training"><i class='bx bxs-pencil'></i></button>
                </div>

            </div>

        </div>
        
    </div>
{% endblock %}