{% extends 'base.html' %}

{% block title %}
    Mi Perfil - Training+
{% endblock %}

{% block content %}

<!-- Modal de Perfil -->
<dialog class="dialog-social-media" id="dialog-social-media">
    <i class='bx bx-x' id="close-modal"></i>
    <form id="formRedes">
        <input type="hidden" name="form_type" value="redes">
        <h1>Contacto</h1>
        <p>Agrega enlaces a tus redes sociales.</p>

        <div class="input-container">
            <label for="instagram"><i class='bx bxl-instagram'></i> Instagram</label>
            <input type="text" id="instagram" name="instagram" value="{% if rol_usuario == 2 %}{{ usuario_data['entrenador_instagram'] or '' }}{% else %}{{ usuario_data['alumno_instagram'] or '' }}{% endif %}" placeholder="URL de tu perfil de Instagram">
        </div>

        <div class="input-container">
            <label for="facebook"><i class='bx bxl-facebook-circle'></i> Facebook</label>
            <input type="text" id="facebook" name="facebook" value="{% if rol_usuario == 2 %}{{ usuario_data['entrenador_facebook'] or '' }}{% else %}{{ usuario_data['alumno_facebook'] or '' }}{% endif %}" placeholder="URL de tu perfil de Facebook">
        </div>

        <div class="input-container">
            <label for="telefono"><i class='bx bxl-whatsapp'></i> WhatsApp</label>
            <input type="text" id="telefono" name="telefono" value="{% if rol_usuario == 2 %}{{ usuario_data['entrenador_telefono'] or '' }}{% else %}{{ usuario_data['alumno_telefono'] or '' }}{% endif %}" placeholder="URL a tu WhatsApp">
        </div>

        <button type="submit" id="guardarRedes" class="btn-guardar-redes">Guardar</button>
    </form>
</dialog>

<div class="profile-container">
    <div class="sections section-1" data-aos="flip-left">
        <div class="profile-photo" data-aos="fade-in" data-aos-delay="100">
            <img id="profile-image" src="{{ url_for('static', filename='uploads/users/' + (usuario_data['entrenador_foto_perfil'] if rol_usuario == 2 and usuario_data['entrenador_foto_perfil'] else (usuario_data['alumno_foto_perfil'] if usuario_data['alumno_foto_perfil'] else 'profile.webp'))) }}" alt="Foto de Perfil">
        </div>

        <div class="user-info" data-aos="fade-right" data-aos-delay="200">
            <h1 class="name">
                {% if rol_usuario == 2 %}
                    {{ (usuario_data['entrenador_nombre'] | default('No disponible')) | upper }} {{ (usuario_data['entrenador_apellido'] | default('No disponible')) | upper }}
                {% else %}
                    {{ (usuario_data['alumno_nombre'] | default('No disponible')) | upper }} {{ (usuario_data['alumno_apellido'] | default('No disponible')) | upper }}
                {% endif %}
            </h1>
            <p class="username">@{{ usuario_data['nombre_usuario'] | default('Usuario') }}</p>
            <p class="role">
                {% if usuario_data['rol'] == 1 %}
                    <i class='bx bxs-user'></i>Usuario
                {% elif usuario_data['rol'] == 2 %}
                    <i class='bx bxs-medal'></i>Entrenador
                {% endif %}
            </p>
        </div>

        <div class="links" data-aos="fade-right" data-aos-delay="300">
            <p class="instagram open-modal" target="_blank"><i class='bx bxl-instagram'></i></p>
            <p class="facebook open-modal" target="_blank"><i class='bx bxl-facebook'></i></p>
            <p class="phone open-modal" target="_blank"><i class='bx bxl-whatsapp'></i></p>
        </div>

        <!-- Mensajes Flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
            {% for category, message in messages %}
                <li class="flash {{ category }}">
                <i class="{{ 'bx bxs-error-circle' if category == 'error' else 'bx bxs-check-circle' }}"></i>
                {{ message }}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </div>

    <div class="sections section-2" data-aos="flip-right">
        <div class="title">
            <h1>Editar Perfil</h1>

            {% if rol_usuario == 1 %}
                <a href="{{ url_for('cuestionario.cuestionario') }}" class="ficha-alumno btn-open-ficha">
                    <i class='bx bxs-file'></i> Ver Ficha
                </a>
            {% endif %}
        </div>

        {% if rol_usuario == 1 %}

            <form action="{{ url_for('perfil.perfil', nombre_usuario=nombre_usuario) }}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="form_type" value="datos_alumno">
                <div class="input-container">
                    <div class="input-box" data-aos="fade-in">
                        <label for="apellido">Apellido:</label>
                        <input type="text" name="apellido" id="apellido" value="{{ usuario_data['alumno_apellido'] or '' }}" placeholder="Ingresa tu apellido">                
                    </div>
                    
                    <div class="input-box" data-aos="fade-in" data-aos-delay="100">
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" id="nombre" value="{{ usuario_data['alumno_nombre'] or '' }}" placeholder="Ingresa tu nombre">
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-box" data-aos="fade-in" data-aos-delay="150">
                        <label for="nombre_usuario">Nombre de Usuario:</label>
                        <input type="text" name="nombre_usuario" id="nombre_usuario" value="{{ usuario_data['nombre_usuario'] or '' }}" placeholder="Ingresa tu usuario" maxlength="16" oninput="eliminarEspacios(this)">                </div>
                    
                    <div class="input-box" data-aos="fade-in" data-aos-delay="200">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" value="{{ usuario_data['email'] or '' }}" placeholder="Ingresa tu email">
                    </div>
                </div>

                <div class="input-container">
                    <!-- Fecha de Nacimiento -->
                    <div class="input-box" data-aos="fade-in" data-aos-delay="250">
                        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                        <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" value="{{ usuario_data['alumno_fecha_nacimiento'] or '' }}">
                    </div>

                    <!-- Edad -->
                    <div class="input-box" data-aos="fade-in" data-aos-delay="300">
                        <label for="edad">Edad:</label>
                        <input type="number" name="edad" id="edad" value="{{ usuario_data['alumno_edad'] or '' }}" placeholder="Ingresa tu edad">
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-box" data-aos="fade-in" data-aos-delay="350">
                        <label for="pais">País:</label>
                        <select name="pais" id="pais">
                            <option value="">Seleccionar País</option>
                            {% for id_pais, nombre_pais in paises %}
                                <option value="{{ id_pais }}" {% if id_pais == usuario_data['alumno_id_pais'] %}selected{% endif %}>
                                    {{ nombre_pais }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-box" data-aos="fade-in" data-aos-delay="400">
                        <label for="sexo">Género:</label>
                        <select name="sexo" id="sexo">
                            <option value="">Seleccionar Género</option>
                            <option value="masculino" {% if usuario_data['alumno_sexo'] == 'masculino' %}selected{% endif %}>Masculino</option>
                            <option value="femenino" {% if usuario_data['alumno_sexo'] == 'femenino' %}selected{% endif %}>Femenino</option>
                        </select>
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-box" data-aos="fade-in" data-aos-delay="450">
                        <label for="biografia">Biografía:</label>
                        <textarea name="biografia" id="biografia" maxlength="200" placeholder="Escribe una breve biografía">{{ usuario_data['alumno_biografia'] or '' }}</textarea>
                    </div>

                    <div class="input-box" data-aos="fade-in" data-aos-delay="500">
                        <label>Foto de Perfil:</label>

                        <label for="file" id="archivo">
                            <i class='bx bx-upload'></i>
                            <span>Subir Imagen</span>
                        </label>
                        
                        <input type="file" name="file" id="file" accept="image/*" style="display: none;">
                    </div>
                </div>

                <button type="submit" class="btn-guardar">Guardar</button>
            </form>

        {% elif rol_usuario == 2 %}

            <form action="{{ url_for('perfil.perfil', nombre_usuario=nombre_usuario) }}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="form_type" value="datos_entrenador">
                <div class="input-container">
                    <div class="input-box">
                        <label for="entrenador_apellido">Apellido:</label>
                        <input type="text" name="entrenador_apellido" id="entrenador_apellido" value="{{ usuario_data['entrenador_apellido'] or '' }}" placeholder="Ingresa tu apellido">                
                    </div>
                    
                    <div class="input-box">
                        <label for="entrenador_nombre">Nombre:</label>
                        <input type="text" name="entrenador_nombre" id="entrenador_nombre" value="{{ usuario_data['entrenador_nombre'] or '' }}" placeholder="Ingresa tu nombre">
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-box">
                        <label for="entrenador_nombre_usuario">Nombre de Usuario:</label>
                        <input type="text" name="entrenador_nombre_usuario" id="entrenador_nombre_usuario" value="{{ usuario_data['nombre_usuario'] or '' }}" placeholder="Ingresa tu usuario" maxlength="16" oninput="eliminarEspacios(this)">                </div>
                    
                    <div class="input-box">
                        <label for="entrenador_email">Email:</label>
                        <input type="email" name="entrenador_email" id="entrenador_email" value="{{ usuario_data['email'] or '' }}" placeholder="Ingresa tu email">
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-box">
                        <label for="entrenador_fecha_nacimiento">Fecha de Nacimiento:</label>
                        <input type="date" name="entrenador_fecha_nacimiento" id="entrenador_fecha_nacimiento" value="{{ usuario_data['entrenador_fecha_nacimiento'] or '' }}">
                    </div>

                    <div class="input-box">
                        <label for="entrenador_edad">Edad:</label>
                        <input type="number" name="entrenador_edad" id="entrenador_edad" value="{{ usuario_data['entrenador_edad'] or '' }}" placeholder="Ingresa tu edad">
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-box">
                        <label for="entrenador_pais">País:</label>
                        <select name="entrenador_pais" id="entrenador_pais">
                            <option value="">Seleccionar País</option>
                            {% for id_pais, nombre_pais in paises %}
                                <option value="{{ id_pais }}" {% if id_pais == usuario_data['entrenador_id_pais'] %}selected{% endif %}>
                                    {{ nombre_pais }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-box">
                        <label for="entrenador_sexo">Género:</label>
                        <select name="entrenador_sexo" id="entrenador_sexo">
                            <option value="">Seleccionar Género</option>
                            <option value="masculino" {% if usuario_data['entrenador_sexo'] == 'masculino' %}selected{% endif %}>Masculino</option>
                            <option value="femenino" {% if usuario_data['entrenador_sexo'] == 'femenino' %}selected{% endif %}>Femenino</option>
                        </select>
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-box">
                        <label for="entrenador_biografia">Biografía:</label>
                        <textarea name="entrenador_biografia" id="entrenador_biografia" maxlength="200" placeholder="Escribe una breve biografía">{{ usuario_data['entrenador_biografia'] or '' }}</textarea>
                    </div>

                    <div class="input-box">
                        <label>Foto de Perfil:</label>

                        <label for="file" id="archivo">
                            <i class='bx bx-upload'></i>
                            <span>Subir Imagen</span>
                        </label>
                        
                        <input type="file" name="file" id="file" accept="image/*" style="display: none;">
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-box">
                        <label for="entrenador_especializacion">Especialización:</label>
                        <input type="text" name="entrenador_especializacion" id="entrenador_especializacion" value="{{ usuario_data['especializacion'] or '' }}" placeholder="Ingresa tu Especialización" >
                    </div>
                    
                    <div class="input-box">
                        <label for="entrenador_disciplina">Disciplina:</label>
                        <select name="entrenador_disciplina" id="entrenador_disciplina" placeholder="Seleccionar">
                            <option value="">Seleccionar Disciplina</option>
                            <option value="Calistenia" {% if usuario_data['disciplina'] == 'Calistenia' %}selected{% endif %}>Calistenia</option>
                            <option value="Culturismo" {% if usuario_data['disciplina'] == 'Culturismo' %}selected{% endif %}>Culturismo</option>
                            <option value="CrossFit" {% if usuario_data['disciplina'] == 'CrossFit' %}selected{% endif %}>CrossFit</option>
                            <option value="Fitness" {% if usuario_data['disciplina'] == 'Fitness' %}selected{% endif %}>Fitness</option>
                            <option value="HIIT" {% if usuario_data['disciplina'] == 'HIIT' %}selected{% endif %}>HIIT</option>
                            <option value="Entrenamiento Funcional" {% if usuario_data['disciplina'] == 'Entrenamiento Funcional' %}selected{% endif %}>Entrenamiento Funcional</option>
                            <option value="Yoga" {% if usuario_data['disciplina'] == 'Yoga' %}selected{% endif %}>Yoga</option>
                        </select>
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-box">
                        <label for="entrenador_experiencia">Experiencia:</label>
                        <select name="entrenador_experiencia" id="entrenador_experiencia" placeholder="Seleccionar">
                            <option value="">Seleccionar Experiencia</option>
                            <option value="1 Año" {% if usuario_data['experiencia'] == '1 Año' %}selected{% endif %}>1 Año</option>
                            <option value="2 Años" {% if usuario_data['experiencia'] == '2 Años' %}selected{% endif %}>2 Años</option>
                            <option value="3 Años" {% if usuario_data['experiencia'] == '3 Años' %}selected{% endif %}>3 Años</option>
                            <option value="4 Años" {% if usuario_data['experiencia'] == '4 Años' %}selected{% endif %}>4 Años</option>
                            <option value="+5 Años" {% if usuario_data['experiencia'] == '+5 Años' %}selected{% endif %}>+5 Años</option>
                            <option value="+10 Años" {% if usuario_data['experiencia'] == '+10 Años' %}selected{% endif %}>+10 Años</option>
                            <option value="+20 Años" {% if usuario_data['experiencia'] == '+20 Años' %}selected{% endif %}>+20 Años</option>
                        </select>
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-box">
                        <label for="titulo_foto">Título/Certificado:</label>
                        <input type="file" name="titulo_foto" id="titulo_foto" accept="image/*">
                    </div>

                    <div class="input-box">
                        <label for="entrenador_titulo">Nombre del Título:</label>
                        <input type="text" name="entrenador_titulo" id="entrenador_titulo" value="{{ usuario_data['titulo'] or '' }}" placeholder="¿Cual es tu título o certificado?">
                    </div>
                </div>

                <div class="input-container">
                    <div class="input-box">
                        <label for="entrenador_instituto">Universidad/Institución:</label>
                        <input type="text" name="entrenador_instituto" id="entrenador_instituto" value="{{ usuario_data['instituto'] or '' }}" placeholder="¿Donde lo obtuviste?">    
                    </div>
                </div>

                <button type="submit" class="btn-guardar">Guardar</button>
            </form>
        {% endif %}
    </div>
</div>

<script>
    // Función para eliminar espacios en blanco del input
    function eliminarEspacios(input) {
        // Eliminar espacios al principio y al final
        input.value = input.value.trim();
        
        // Reemplazar espacios en medio del texto por nada
        input.value = input.value.replace(/\s+/g, '');
    }



    // Seleccionar todos los elementos con la clase 'open-modal'
    const modal = document.querySelector('#dialog-social-media');
    const btnOpenList = document.querySelectorAll('.open-modal');

    // Agregar el evento click a cada botón
    btnOpenList.forEach(btnOpen => {
        btnOpen.addEventListener('click', () => {
            modal.showModal();
        });
    });

    const btnClose = document.querySelector('#close-modal');
    btnClose.addEventListener('click', () => {
        modal.close();
    });



    document.getElementById('guardarRedes').addEventListener('click', () => {
        const form = document.getElementById('formRedes');
        const formData = new FormData(form);
        const data = {};

        // Convertir los datos del formulario en un objeto JSON
        formData.forEach((value, key) => {
            data[key] = value;
        });

        // Enviar los datos con fetch
        fetch('/actualizar_redes', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then(response => response.json())
            .then(result => {
                if (result.success) {
                    document.getElementById('dialog-social-media').close(); // Cerrar el modal
                }
            })
            .catch(error => console.error('Error:', error));
    });

</script>

{% endblock %}