{% extends 'base.html' %}

{% block title %}
    Mi Progreso - Training+
{% endblock %}

{% block content %}
    <div class="progreso-title" data-aos="fade-right">
        <h1>Mi Progreso</h1>
        <p>Visualiza tu rendimiento y progreso</p>
    </div>

    <!-- Formulario para seleccionar entrenamiento -->
    <div class="select-training" data-aos="fade-right">
        <select id="entrenamiento-select" onchange="cambiarEntrenamiento(this)">
            <option value="" disabled {% if not id_entrenamiento_actual %}selected{% endif %}>
                Selecciona un entrenamiento
            </option>
            {% for entrenamiento in entrenamientos %}
                <option value="{{ entrenamiento.id_entrenamiento }}" 
                        {% if id_entrenamiento_actual and entrenamiento.id_entrenamiento == id_entrenamiento_actual %}selected{% endif %}>
                    {{ entrenamiento.nombre_entrenamiento }}
                </option>
            {% endfor %}
        </select>
    </div>

    <!-- Progreso en general -->
    <section class="progreso-general">
        <div class="card" data-aos="fade-in" data-aos-delay="100">
            <div class="card-title">
                <h2>Progreso General</h2>
                <i class='bx bx-trending-up'></i>
            </div>

            <div id="progreso-container">
                {% if entrenamientos %}

                <div class="card-data">
                    {% if entrenamiento_actual %}
                        <h3 id="porcentaje-texto">{{ "%.1f"|format(entrenamiento_actual.progreso) }}%</h3>

                        <div class="bar">
                            <div class="bar-progress" 
                                 id="barra-progreso" 
                                 data-progreso="{{ "%.1f"|format(entrenamiento_actual.progreso) }}">
                            </div>
                        </div>

                        <p id="texto-completado">Has completado un {{ "%.1f"|format(entrenamiento_actual.progreso) }}% de la rutina.</p>

                    {% else %}

                        {% set primer_entrenamiento = entrenamientos[0] %}

                        <h3 id="porcentaje-texto">{{ "%.1f"|format(primer_entrenamiento.progreso) }}%</h3>

                        <div class="bar">
                            <div class="bar-progress" 
                                 id="barra-progreso" 
                                 data-progreso="{{ "%.1f"|format(primer_entrenamiento.progreso) }}">
                            </div>
                        </div>

                        <p id="texto-completado">Has completado un {{ "%.1f"|format(primer_entrenamiento.progreso) }}% de la rutina.</p>

                    {% endif %}
                </div>

                {% else %}

                <div class="card-data">
                    <p>No tienes entrenamientos registrados</p>
                </div>

                {% endif %}
            </div>
        </div>

        <div class="card" data-aos="fade-in" data-aos-delay="200">
            <div class="card-title">
                <h2>Días Completados</h2>
                <i class='bx bx-calendar'></i>
            </div>

            <div class="card-data">
                {% if id_entrenamiento_actual %}
                    <h3>{{ dias_completados }}/{{ total_dias }}</h3>

                    <div class="bar day-progress">
                        <div class="bar-progress-day"
                            id="barra-dias"
                            data-progreso="{{ (dias_completados / total_dias * 100) if total_dias != 0 else 0 }}">
                        </div>
                    </div>
                    
                    <p>Has completado {{ dias_completados }} día{{ 's' if dias_completados != 1 else '' }} de {{ total_dias }} {{ 's' if dias_completados != 1 else '' }}</p>

                {% else %}

                    <h3>0/0</h3>

                    <div class="bar day-progress">
                        <div class="bar-progress-day" style="width: 0%"></div>
                    </div>

                    <p>0 días completado</p>
                {% endif %}
            </div>
        </div>

        <div class="card" data-aos="fade-in" data-aos-delay="300">
            <div class="card-title">
                <h2>Entrenador</h2>
                <i class='bx bxs-medal'></i>
            </div>

            <div class="card-data">
                <h3>
                    <a href="{{ url_for('usuario.usuario', id_usuario=entrenamiento_actual.id_usuario) }}">{{ entrenamiento_actual.entrenador }}</a>
                </h3>

                <p>Entrenador asignado a este plan.</p>
            </div>
        </div>
    </section>

    <!-- Grafico de rendimiento (lineal) -->
    <section class="rendimiento-container" data-aos="fade-down" data-aos-delay="300">
        <h2>Gráfico de Rendimiento</h2>

        <canvas id="lineChart"></canvas>

         <!-- Gráfico de Rendimiento (lineal) -->
        <script>
            const ctx = document.getElementById('lineChart').getContext('2d');
            const lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                labels: ['Sem 1', 'Sem 2', 'Sem 3', 'Sem 4', 'Sem 5', 'Sem 6', 'Sem 7', 'Sem 8'],
                datasets: [{
                    // label eliminado
                    data: [30, 40, 55, 65, 70, 75, 85, 95],
                    borderColor: '#DC2626',
                    backgroundColor: 'rgba(220, 38, 38, 0.2)', // mismo color pero transparente
                    fill: true,
                    tension: 0.3,
                    pointRadius: 5,
                    pointHoverRadius: 8,
                }]
                },
                options: {
                responsive: true,
                plugins: {
                    legend: {
                    display: false // Oculta el rectángulo/label
                    }
                },
                scales: {
                    y: {
                    beginAtZero: true,
                    max: 100,
                    title: {
                        display: true,
                    }
                    },
                    x: {
                    title: {
                        display: true,
                    }
                    }
                }
                }
            });
        </script>
    </section>

    <!-- Grafico de fuerza -->
    <section class="rendimiento-container" data-aos="fade-down">
        <h2>Evolución de Fuerza</h2>

        <canvas id="fuerzaMovChart"></canvas>

        <script>
            const ctx2 = document.getElementById('fuerzaMovChart').getContext('2d');
        
            const fuerzaData = {
              labels: ['Empuje', 'Jale', 'Resistencia'],
              datasets: [{
                data: [80, 60, 50], // ejemplo de valores
                backgroundColor: [
                  'rgba(220,38,38,0.7)',  // rojo
                  'rgba(59,130,246,0.7)', // azul
                  'rgba(34,197,94,0.7)'   // verde
                ],
                borderWidth: 0
              }]
            };
        
            const fuerzaOptions = {
              responsive: true,
              plugins: {
                legend: {
                  position: 'right',
                  labels: {
                    color: '#374151'
                  }
                },
                tooltip: {
                  backgroundColor: '#1f2937',
                  titleColor: '#fff',
                  bodyColor: '#fff',
                  cornerRadius: 6,
                  callbacks: {
                    label: function(context) {
                      const label = context.label;
                      const value = context.raw;
                      if (label === 'Resistencia') {
                        return `Aumento de Resistencia: ${value}`;
                      } else {
                        return `Fuerza Ganada: ${value}`;
                      }
                    }
                  }
                }
              },
              scales: {
                r: {
                  angleLines: {
                    color: '#e5e7eb'
                  },
                  grid: {
                    color: '#d1d5db'
                  },
                  pointLabels: {
                    color: '#374151',
                    font: {
                      weight: 'bold'
                    }
                  },
                  ticks: {
                    color: '#6b7280'
                  }
                }
              }
            };
        
            new Chart(ctx2, {
              type: 'polarArea',
              data: fuerzaData,
              options: fuerzaOptions,
              responsive: true,
              maintainAspectRatio: false,
            });
        </script>  
    </section>

    <!-- Mejores Marcas-->
    <section class="marcadores-container-alumno" data-aos="fade-down">
        <h2>Mejores Marcas</h2>

        <div class="marcadores-alumno">
            <div class="marcador">
                <strong class="ejercicio-marcador">Press de Banca c/ Barra</strong>

                <span class="valor-marcador">100 Kg x 8</span>
            </div>
            
            <div class="marcador">
                <strong class="ejercicio-marcador">Press de Banca c/ Barra</strong>

                <span class="valor-marcador">100 Kg x 8</span>
            </div>

            <div class="marcador">
                <strong class="ejercicio-marcador">Press de Banca c/ Barra</strong>

                <span class="valor-marcador">100 Kg x 8</span>
            </div>
        </div>
    </section>

    <!-- Progreso Semanal -->
    <section class="progreso-semanal-container" data-aos="fade-down">
        <h2>Progreso Semanal</h2>
        
        <div class="semana">
            <div class="semana-title">
                <strong>Semana 1</strong>
                <p>01/01/2023</p>
            </div>

            <div class="datos">
                <div class="dias">
                    <p>
                        Días completados: <span>3/7</span>
                    </p>
                </div>

                <div class="ejercicios">
                    <p>
                        Ejercicios completados: <span>12/16</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="semana">
            <div class="semana-title">
                <strong>Semana 2</strong>
                <p>07/01/2023</p>
            </div>

            <div class="datos">
                <div class="dias">
                    <p>
                        Días completados: <span>4/6</span>
                    </p>
                </div>

                <div class="ejercicios">
                    <p>
                        Ejercicios completados: <span>10/12</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="semana">
            <div class="semana-title">
                <strong>Semana 3</strong>
                <p>14/01/2023</p>
            </div>

            <div class="datos">
                <div class="dias">
                    <p>
                        Días completados: <span>3/3</span>
                    </p>
                </div>

                <div class="ejercicios">
                    <p>
                        Ejercicios completados: <span>8/8</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script>
        function cambiarEntrenamiento(select) {
            const idEntrenamiento = select.value;
            if (idEntrenamiento) {
                window.location.href = `/progreso/${idEntrenamiento}`;
            } else {
                window.location.href = '/progreso';
            }
        }
    </script>

    <script>
        // Barra de progreso rutina
        const barra = document.getElementById("barra-progreso");
        const progreso = barra.dataset.progreso;

        barra.style.width = progreso + "%";

        // Barra de progreso día
        const barraDias = document.getElementById("barra-dias");
        if (barraDias) {
            const progresoDias = barraDias.dataset.progreso;
            barraDias.style.width = progresoDias + "%";
        }
    </script>


{% endblock %}