{% extends 'base.html' %}

{% block title %}
    Rutina - Training+
{% endblock %}

{% block content %}

    <div class="routine-container">
        <div class="routine-header">
            <div class="title">
                <h1>Nombre del Entrenamiento</h1>
                <div class="routine-data">
                    <p>
                        Disciplina: Fitness
                    </p>

                    <p>
                        Duración: 8 Semanas
                    </p>
                </div>
            </div>
        </div>

        <div class="plan-container">
            <div class="weeks">
                <!-- Selector de Semanas -->
                <button class="previous-week" title="Anterior"><i class='bx bx-chevrons-left'></i></button>
                <h1>Semana 1</h1>
                <button class="next-week" title="Siguiente"><i class='bx bx-chevrons-right'></i></i></button>
            </div>
        </div>

        <div class="accordion">
            <!-- Renderizar todos los días de esta semana -->
            <div class="accordion-item">
                <div class="accordion-header">
                    <h1><span>Día 1</span> - Pecho y Tríceps</h1>
                    <span class="icon"><i class='bx bx-chevron-down'></i></span>
                </div>

                <div class="accordion-content">
                    <!-- Renderizar todos los ejercicios de este día -->
                    <div class="excercise">
                        <input id="id_dia_ejercicio" hidden type="text"> <!--Aqui se guarda el id de 'dia_ejericio'-->
                        
                        <div class="excercise-title">
                            <h3>Press de Banco Plano</h3>
                        </div>

                        <div class="parameters">
                            <p class="sets"><i class='bx bx-dumbbell'></i> 4  Series</p>
                            <p class="reps">8 Repeticiones</p>
                            <p class="rest"><i class='bx bx-time-five'></i> 90s Descanso</p>
                        </div>

                        <button class="btn-see-exercise"><i class='bx bxs-show'></i> Ver Ejercicio</button>

                        <form action="">
                            <div class="registers">
                                <div>
                                    <label for="sets">¿Cuántas series pudiste hacer?</label>
                                    <input id="sets" class="sets" type="number" min="1" required placeholder="Cantidad de series">
                                </div>
                                <div>
                                    <label for="reps">¿Cuántas repeticiones pudiste hacer?</label>
                                    <input id="reps" class="reps" type="number" min="1" required placeholder="Cantidad de repeticiones">
                                </div>
                                <div>
                                    <label for="weight">¿Cuánto peso utilizaste?</label>
                                    <input id="weight" class="weight" type="number" step="0.01" min="1" required placeholder="Cantidad de peso">
                                </div>
                            </div>
                            
                            <label for="observations">Observaciones</label>
                            <textarea name="observations" id="observations" required placeholder="Escribe aquí tus sensaciones o dificultades al realizar este ejercicio..." maxlength="500"></textarea>
                        
                            <!-- Botón para guardar las observaciones por ejercicio -->
                            <button type="submit" class="btn-see-exercise save-day" href="">Guardar Registro</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Script para abrir y cerrar el acordeon -->
    <script>
        const headers = document.querySelectorAll('.accordion-header');
    
        headers.forEach(header => {
            header.addEventListener('click', () => {
                // Alternar la clase 'active' para girar el ícono
                header.classList.toggle('active');
    
                // Mostrar u ocultar el contenido asociado
                const content = header.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        });
    </script>

{% endblock %}