<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="/static/images/trainingplus-icon.ico" type="image/x-icon">
    <title>Registrarse - Training+</title>
</head>
<body>
    <!-- Loading Screen -->
    <div id="loading-screen">
        <div class="spinner"></div>
    </div>

    <div class="signup-container">
        <div class="signup-form">
            <form action="{{ url_for('auth.signup') }}" method="POST">
                <div class="logo-image">
                    <img src="/static/images/logo.png">
                </div>
                
                <div class="title">
                    <h1>Registro</h1>
                    <p>Crea tu cuenta de <span>Training+</span></p>
                </div>
    
                <!-- Mensajes Flash -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flash-messages">
                    {% for category, message in messages %}
                        <li class="flash {{ category }}">
                        <i class="{{ 'bx bxs-error-circle' if category == 'error' else 'bx bxs-check-circle' }}"></i>
                        {{ message }}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}


                <div class="input-box">
                    <input type="text" name="email" placeholder="Tu Email" required>
                    <i class='bx bxs-envelope'></i>
                </div>

                <div class="input-box">
                    <input type="text" name="nombre_usuario" placeholder="Tu Usuario" maxlength="16" oninput="eliminarEspacios(this)" required>
                    <i class='bx bxs-user'></i>
                </div>
    
                <div class="input-box">
                    <input type="password" name="contrasena" placeholder="Tu Contraseña" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>

                <div class="input-box">
                    <select name="rol" id="rol" required placeholder="Seleccionar Rol">
                        <option value="">Seleccionar Rol</option>
                        <option value="2">Entrenador</option>
                        <option value="1">Usuario</option>
                    </select>
                    <i class='bx bx-chevron-down arrow'></i>
                </div>
    
                <button type="submit" class="btn">Registrarse</button>
    
                <div class="login">
                    <p>¿Ya tienes una cuenta? <a href="{{ url_for('auth.login') }}">Ingresa</a></p>
                </div>
            </form>
        </div>
        
        <div class="image">
            <!--  Imagen de Fondo  -->
        </div>
    </div>

    <script>
        // Función para eliminar espacios en blanco del input
        function eliminarEspacios(input) {
            // Eliminar espacios al principio y al final
            input.value = input.value.trim();
            
            // Reemplazar espacios en medio del texto por nada
            input.value = input.value.replace(/\s+/g, '');
        }

        const loadingScreen = document.getElementById('loading-screen');
        const content = document.getElementById('content');

        // Espera a que la página cargue completamente
        window.onload = () => {
            loadingScreen.style.display = 'none'; // Oculta el loading
            content.style.display = 'block'; // Muestra el contenido
        };
    </script>

</body>
</html>